.error-section{
  height: 100vh;
  overflow: hidden;
  background-color: $white;
    & > div {
      font-size: 0;
        & > div{
          position: absolute;
          font-size: 0;
        }
    }
}

.error-bg{
  transform: scaleX(1.1);
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url(../images/404-bg.jpg);
}

.error-planet-wrap{
    & > div{
      font-size: 0;
        &  > div{
          position: absolute;
          width: 100%;
          font-size: 0;
        }
    }
}

.error-planet{
  position: absolute;
  float: right;
  z-index: 1;
  bottom: 0;
  right: -50px;
  width: 70.5vw;
  height: 99vh;
  //height: 850px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: right bottom;
  background-image: url(../images/404-planet.png);
  font-size: 0;
}

.error-wrap{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.error-wrap-content{
  color: $white;
  padding: 9px 0 0 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    .title-1{
      font-size: 120px;
      padding: 12px 0 0;
    }
    .btn-link{
      max-width: 180px;
      position: relative;
      z-index: 1;
    }
}

.error-title{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 120px;
  line-height: 1em;
  margin: 4px 0 48px;
}