.about-review-section{
  margin: 94px 0 100px;
  padding: 147px 0 144px;
}

.about-review-title{
    h1, h2{
      line-height: 1em;
    }
}

.review-author-image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
    .gatsby-image-wrapper{
      height: 100%;
    }
}

.about-review-author{
  display: flex;
}

.review-author-title{
  line-height: 1.4em;
  font-size: 14px;
  text-transform: uppercase;
  @extend .bold;
}

.review-author-position{
  line-height: 1.4em;
  color: $violet;
  font-size: 12px;
}

.about-review-preview{
  position: absolute;
  right: 0;
  top: 0;
  width: 29.7vw;
  height: 718px;
}

.about-review-preview-image{
  height: 100%;
}

.about-review-wrap{
  padding: 0 0 0 92px;
}

.about-review-description{
  max-width: 80%;
  margin: 29px 0 35px;
}

.review-author-content{
  padding: 7px 0 0 22px;
}

.about-values-section{
  padding: 178px 0 24px;
}

.about-values-preview{
  max-width: 79.3vw;
  height: 42.7vw;
}

.about-values-preview-image{
  height: 100%;
}

.about-values-wrap{
  background-color: $white;
  margin: -159px 0 0 28px;
  padding: 126px 168px 0 188px;
}

.about-values-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 83px 0 0;
}

.about-values-list-item{
  width: 50%;
    &:nth-child(2){
      margin: -208px 0 0;
    }
    &:nth-child(3){
      margin: -135px 0 0;
    }
}

.about-values-title{
  margin: -10px 0 0;
}

.about-value-icon{
  height: 71px;
}

.about-value-description{
  max-width: 90%;
  margin: 16px 0 0;
}