.careers-section{
  padding: 87px 0 29px;
    .custom-carousel-nav-wrap{
      max-width: 1312px;
      margin: 0 auto;
      padding: 0 83px;
    }
}

.jobs-list{
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 0 88px;
    .col-sm-6{
        &:nth-child(odd){
          margin-top: 101px;
        }
    }
}

.jobs-list-item{
  padding: 0 0 0 83px;
  margin: 0 0 35px;
}

.job-list-item-title{
  padding: 0 0 5px;
    h2, .title-2{
      font-weight: 500;
      line-height: .94em;
    }
}

.jobs-list-item-description{
  padding: 16px 0 34px;
  max-width: 410px;
}

.job-folder-wrap{
    .folder-content-wrap{
      padding: 27px 0 0 20px;
        .title-1{
          margin: 16px 0 0 -2px;
        }
    }
    .folder-content{
        .description{
          margin: -8px 0 0;
          padding: 0;
        }
    }
}

.about-solution-section{
  padding: 94px 0;
}

.solution-block-title{
    h1, h2{
      line-height: 1em;
    }
}

.solution-block{
  margin: 157px 0 0 auto;
  max-width: 480px;
    .subtitle{
      margin-bottom: 7px;
    }
}

.solution-block-title{
  margin: 0 0 22px -4px;
}

.solution-block-preview{
  margin: 0 34px 0 auto;
  max-width: 510px;
  max-height: 718px;
  overflow: hidden;
}

.solution-block-preview-image{
  height: 100%;
}

.solution-block-description{
  max-width: 420px;
  padding: 10px 0;
    a{
      color: $violet;
      text-decoration: underline;
    }
}

.job-challenge-section{
  padding: 71px 0;
}

.job-challenge-preview{
  max-width: 75vw;
  height: 39.7vw;
  width: 100%;
}

.job-challenge-preview-image{
  height: 100%;
}

.job-challenge-block{
  background-color: $violet;
  color: $white;
  margin: -305px 20px 0 -18px;
  padding: 90px 94px 91px 114px;
  overflow: hidden;
  position: relative;
    .subtitle{
      margin-bottom: 7px;
      position: relative;
    }
    .job-challenge-block-title,
    .job-challenge-block-description{
      position: relative;
    }
}

.job-challenge-block-title{
  max-width: 330px;
  margin: 0 0 23px;
    h1, h2{
      line-height: 1em;
    }
}

.job-challenge-block-description{
  max-width: 300px;
}

.job-challenge-block-content{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  margin: 0 0 0 -17px;
  padding: 11px 0 0 38px;
  position: relative;
    p{
      display: inline-block;
      max-width: 330px;
      margin: 0 0 30px;
      @extend .light;
    }
}

.job-solution{
  padding: 120px 0;
    .solution-block{
      margin: 68px 0 0 auto;
      padding: 0 4px;
    }
    .solution-block-preview{
      max-height: 557px;
      margin: 0 auto;
    }
    .solution-block-title{
      margin: 0 0 13px -4px;
    }
    .solution-block-description{
      max-width: 370px;
    }
}

.job-detail-section{
  margin: -35px 0 0;
  padding: 0 0 70px;
}

.job-detail-list{
  padding: 0 0 0 10px;
}

.job-detail-block{
  margin: 0 auto;
  max-width: 510px;
  border: 2px transparent solid;
  padding: 0 0 99px;
  position: relative;
  overflow: hidden;
  background-color: $white;
    &.violet{
      border-color: $violet;
        .job-detail-block-content{
          li{
              &:before{
                background-image: url(../images/tick-violet.svg);
              }
          } 
        }
    }
    &.black{
      border-color: $black;
      margin: 139px auto 0;
    }
}

.job-detail-block-title{
  border-bottom: 2px currentColor solid;
  padding: 31px 36px 33px;
}

.job-detail-block-content{
  padding: 44px 30px;
    li{
      line-height: 1.5em;
      margin: 0 0 5px;
      position: relative;
      padding: 0 24px;
        &:before{
          content: '';
          position: absolute;
          top: 3px;
          left: 0;
          width: 15px;
          height: 15px;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          background-position: left top;
          background-image: url(../images/tick.svg);
        }
    }
}

.interview-section{
  padding: 162px 0;
    .job-challenge-preview{
      float: right;
    }
}

.job-apply-section{
  padding: 20px 0 80px;
    .job-detail-block{
        &.black{
          margin: 0 0 0 82px;
          max-width: 455px;
          padding: 0 0 127px;
        }
    }
    .job-detail-block-title{
      padding: 44px 23px 45px;
    }
    .solution-block {
      margin: 79px 0 0 auto;
    }
    .job-detail-block-content {
      padding: 38px 26px;
    }
}