.case-detail-wrap{
  position: relative;
  margin: -140px -33px 0 0;
  padding: 96px 14px 107px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -100vw;
      background-color: $black;
    }
    .subtitle{
      position: relative;
    }
    .title-4{
      position: relative;
      max-width: 600px;
    }
    .triangle-wrap{
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
}

.case-folder-wrap{
    .folder-main-preview{
      height: 773px;
    }
    .folder-content{
        h1, .title-1{
          margin: -8px 0 16px -2px;
        }
    }
    .folder-content-wrap {
      min-height: 693px;
      padding: 39px 0 0 20px;
    }
    #default-folder-triangle{
      bottom: -335px;
    }
}

.testimonial-section{
  padding: 111px 0;
    .subtitle{
      padding: 0 32px;
    }
    .custom-carousel-nav-wrap{
      justify-content: flex-end;
      margin: -51px 0 0;
    }
}

.testimonial-wrap{
  max-width: 1010px;
  margin: 0 auto;
}

.testimonial-item{
  padding: 9px 35px;
    .title-4{
      position: relative;
        &:before{
          content: '"';
          position: absolute;
          left: -36px;
          top: -10px;
          font-size: 48px;
          transform: scale(-1,-1);
          line-height: .5em;
        }
        &:after{
          content: '"';
          position: relative;
          font-size: 48px;
          line-height: .5em;
          top: 12px;
          right: -14px;
        }
    }
}

.author-logo{
  height: 34px;
  margin: 0 0 5px;
}

.author-logo-image{
  max-height: 100%;
  max-width: 52px;
}

.author-title{
  text-transform: uppercase;
  font-size: 14px;
  @extend .bold;
  padding: 13px 0 0;
  line-height: 1.2em;
}

// .testimonial-item-detail{
//   padding: 43px 0 0;
// }

.author-position{
  font-size: 12px;
}

.custom-carousel-nav-wrap{
  position: relative;
  display: flex;
  align-items: center;
    &.__double-theme{
        .custom-nav-item{
            &.__next{
                &:before{
                  left: 100px;
                }
                .custom-nav-item-arrow{
                  left: 100px;
                }
            }
            &.__prev{
                &:before{
                  right: 100px;
                }
                .custom-nav-item-arrow{
                  right: 100px;
                }
            }
        }
    }
}

.custom-nav-item{
  cursor: pointer;
  position: relative;
  @extend .regular;
  font-size: 14px;
    &:before{
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: currentColor;
      top: 5px;
      transition: all .3s cubic-bezier(.7,.5,.6,1);
    }
    &.__prev{
      padding: 0 26px 0 112px;
      text-align: right;
        &:before{
          right: 66px;
        }
        .custom-nav-item-arrow{
          right: 69px;
            &:before{
              left: 0;
              border-width: 2.5px 4px 2.5px 0;
              border-color: transparent currentColor transparent transparent;
            }
        }
    }
    &.__next{
      padding: 0 112px 0 26px;
      text-align: left;
        &:before{
          left: 64px;
        }
        .custom-nav-item-arrow{
          left: 66px;
            &:before{
              right: 0;
              border-width: 2.5px 0 2.5px 4px;
              border-color: transparent transparent transparent currentColor;
            }
        }
    }
    &.__disable{
      pointer-events: none;
    }
}

.custom-nav-item-arrow{
  position: absolute;
  height: 1px;
  background-color: currentColor;
  width: 100px;
  top: 8px;
  transition: width .3s cubic-bezier(.7,.5,.6,1);
    &:before{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: -2px;
      border-style: solid;
    }
}

.challenge-section{
  margin: 0 0 96px;
  padding: 0 0 96px;
}

.challenge-wrap{
  position: relative;
  background-color: $white;
  margin: 278px 0 0 18px;
  max-width: 1182px;
  padding: 86px 0 120px 200px;
  overflow: hidden;
    .subtitle{
      margin-bottom: 5px;
      position: relative;
    }
}

.challenge-preview{
  position: absolute;
  left: 219px;
  top: 0;
  //width: 80vw;
  width: calc(100vw - 365px);
  height: 682px;
}

.challemge-preview-image{
  max-height: 100%;
}

.challenge-wrap-title {
  max-width: 990px;
  position: relative;
  @extend h3;
}

.solution-section{
  padding: 81px 0 0;
}

.solution-list{
  margin: 0 0 0 -30px;
  max-width: 300px;
}

.solution-title-wrap{
  // margin: 0 0 0 -34px;
  padding: 60px 0 60px;
  //transition: transform .2s;
    .subtitle{
      margin-bottom: 0;
    }
}

.solution-title{
  max-width: 500px;
  margin: 3px 0 0 -2px;
    .title-2{
      line-height: 1em;
    }
}

.solution-list-item{
  margin: 0 0 72px;
}

.solution-list-item-icon{
  height: 70px;
}

.solution-desc p {
  margin-bottom: 10px;
}

.solution-list-item-title{
  max-width: 180px;
  line-height: 1.25em;
}

.solution-list-item-description{
  padding: 13px 0 0;
  max-width: 265px;
}

.solution-preview{
  // position: absolute;
  // left: 0;
  // top: 134px;
  // height: 665px;
  // max-width: 21.4vw;
  width: 100%;
}

.solution-preview-image{
  height: 100%;
}

.cases-section{
  padding: 78px 0 0;
}

.cases-list{
  padding: 0 0 63px;
    .col-sm-6{
        &:nth-child(odd){
            .cases-list-item{
              margin: 100px 0 43px 18px;
            }
        }
        &:nth-child(even){
            .cases-list-item{
              margin: 0 21px 43px auto;
            }
        }
    }
    & ~ .custom-carousel-nav-wrap{
      padding: 0 20px;
    }
}

.cases-list-item{
  max-width: 590px;
}

.cases-list-item-preview{
  height: 660px;
  display: block;
}

.cases-list-item-logo{
  max-width: 122px;
  margin: 0 0 24px;
  height: 32px;
  display: block;
}

.cases-list-item-logo-image{
  max-height: 100%;
}

.cases-list-item-content{
  padding: 37px 0 0;
    .title-4{
      max-width: 80%;
    }
    .btn-link{
      margin: 31px 0 0;
    }
}

.custom-nav-pagination{
  white-space: nowrap;
}

.custom-nav-pagination-link{
  @extend .regular;
  font-size: 14px;
  padding: 7px 9px;
  margin: 0 3px;
  display: inline-block;
  transition: background-color .2s cubic-bezier(.7,.5,.6,1), color .2s cubic-bezier(.7,.5,.6,1);
    &.active{
      background-color: $violet;
      color: $white;
    }
}

h1#case-h1 {
  position: relative;
}

.solution-lists {
  display: flex;
  width: 100%;
}

.solution-lists .card {
  width: 33.33%;
  padding:0 25px 0 0;
}

.testmon-client {
  background-color: #172528;
  padding: 50px;
}

// section.section.solution-section {
//   margin-top: 150px;
// }

.challenge-preview {
    position: absolute;
    left: 219px;
    top: 0;
    width: calc(100vw - 365px);
    height: 800px;
    padding-top: 300px;
}

.challenge-wrap{
  margin: 0;
}

section.goal-section {
  padding: 120px 0 0;
}

.clientlist {
  margin-bottom: 15px;
}

.client-name {
  text-decoration: underline;
  font-size: inherit;
  color: inherit;
  font-weight: 300;
  line-height: 1.4em;
}

.goal-list span {
  text-decoration: underline;
}

.__top-content.pillar-table-content h4 {
  color: #000;
}

.solution-preview-image {
  height: 100%;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
}

// .challenge-wrap-title h3 strong {
//   font-weight: 700;
//   display: inline-block;
//   -webkit-text-stroke-width: unset;
//   -webkit-text-stroke-color: black;
//   -webkit-text-fill-color: black;
//   -webkit-background-clip: text;
// }

.solution-title h4 {
  margin-bottom: 15px;
}

.goal-list {
  margin-bottom: 5px;
}

p.result-data-bottom {
  margin-top: 60px;
}