.feedback-section{
  padding: 192px 0 136px;
    & ~ .map-section{
        .triangle-item{
          display: none;
        }
    }
}

.feedback-title{
  padding: 0 0 0 95px;
  max-width: 500px;
    h2, h1{
      line-height: 1em;
    }
}

.input-container{
  position: relative;
  padding: 0 0 25px;
    &.error{
      .input-item{
        border-color: $red;
      }
    }
}

.input-item{
  width: 100%;
  height: 40px;
  @extend .regular;
  font-size: 14px;
  color: $brown;
  padding: 11px 20px;
  border: 1px $brown-light solid;
  transition: border-color .1s;
    &::-webkit-input-placeholder {
      color: $brown;
      text-transform: capitalize;
    }
    &::-moz-placeholder {
      color: $brown;
      text-transform: capitalize;
    }
    &:-ms-input-placeholder {
      color: $brown;
      text-transform: capitalize;
    }
    &:-moz-placeholder {
      color: $brown;
      text-transform: capitalize;
    }
    &:focus{
      border-color: $violet;
    }
}

.textarea-item{
  @extend .input-item;
  resize: none;
  height: 140px;
}

.input-message{
  font-size: 12px;
  text-align: right;
  position: absolute;
  bottom: 7px;
  right: 0;
  color: $red;
  @extend .regular;
    &.captcha-message{
      right: auto;
      left: 0;
    }
}

.feedback-form{
  margin: 14px 0 0 -35px;
  max-width: 508px;
}

.map-section{
  padding: 90px 0;
    #job-apply-triangle{
      top: 52%;
      left: -6%;
      width: 1080px;
    }
}

.map-wrap{
  padding: 0 65px 0 0;
  overflow: hidden;
  position: relative;
}

.map{
  margin: 0 auto;
  max-width: 775px;
}

.map-title,
.map-title.title-2{
  position: absolute;
  top: 134px;
  left: 15%;
  max-width: 400px;
    h2{
      line-height: 1em;
    }
}

.marker-data-wrap{
  position: absolute;
  background-color: $violet;
  color: $white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  width: 100%;
  padding: 18px 15px 15px 56px;
  font-size: 14px;
  overflow: hidden;
    p{
      font-size: inherit;
      line-height: 1.3em;
      position: relative;
      z-index: 1;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 56px;
      height: 100%;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      background-position: left top 24px;
      background-image: url(../images/ALPHAALIASW-mini.svg);
    }
    &.__helsinki{
      left: 55%;
      top: 46%;
    }
    &.__london{
      left: 30%;
      top: 67%;
    }
}

.marker-data-title{
  @extend .bold;
  margin: 0 0 7px;
}

.team-section{
  padding: 134px 0 23px;
}

.team-section-title{
  margin: 0 0 0 -24px;
}

.team-description{
  margin: 15px 0 0;
}

.team-title{
    h1, h2{
      line-height: 1em;
    }
}

.team-wrap{
  position: relative;
  min-height: 960px;
}

.team-item{
  max-width: 330px;
  width: 100vw;
  display: inline-block;
  text-align: center;
  margin: 0 37px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    &:nth-child(1),
    &:nth-child(3n + 5){
      transform: translate(0, 77px);
    }
    &:nth-child(4n + 2){
      transform: translate(0, 253px);
    }
    &:nth-child(3n + 4){
      transform: translate(0, 311px);
    }
}

.team-item-photo{
  height: 370px;
  overflow: hidden;
}

.team-item-photo-image{
  height: 100%;
}

.team-wrap-container{
  top: 64px;
  cursor: grab;
  min-width: 100%;
    &.__is-moving{
      cursor: grabbing;
    }
}

.team-move-container-content{
  transition: transform 1s cubic-bezier(.1,1,.1,1);
  text-align: center;
}

.team-move-container-photo{
  transition: transform .9s cubic-bezier(.1,1,.1,1);
  text-align: center;
}

.team-item-content{
  padding: 32px 0 0;
}

.team-moving-wrap{
  position: relative;
}

.team-item-photo-image{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.team-item-contact-data{
  line-height: 1.4em;
  font-size: 14px;
  margin: 0 0 8px;
    span{
        &:last-child{
            .coma{
              display: none;
            }
        }
    }
}

.team-item-position{
  font-size: 14px;
  margin: 1px 0 8px;
}

.email-link {
  color:#6715d1;
  text-decoration: underline;
}

@media (hover: none) and (pointer: coarse) {
  .team-wrap-container{
    position: relative;
  }
  .team-wrap{
    overflow-y: hidden;
    overflow-x: auto;
  }
  .swipe-slider-wrap{
      &.__team-theme{
        display: none;
      }
      &.__scroll-theme{
        display: inline-flex !important;
      }
  }

}