@font-face {
  font-family: "Adca";
  src: url("../fonts/Adca.eot");
  src: url("../fonts/Adca.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Adca.otf") format("opentype"),
  url("../fonts/Adca.svg") format("svg"),
  url("../fonts/Adca.woff") format("woff"),
  url("../fonts/Adca.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto-Regular.otf") format("opentype"),
  url("../fonts/Roboto-Regular.svg") format("svg"),
  url("../fonts/Roboto-Regular.woff") format("woff"),
  url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto-Light.otf") format("opentype"),
  url("../fonts/Roboto-Light.svg") format("svg"),
  url("../fonts/Roboto-Light.woff") format("woff"),
  url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Inter";
//   src: url("../fonts/Inter-Regular.ttf"),
//   url("../fonts/Inter-Regular.ttf") format("ttf");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');