@import "variables";
@import "fonts";
@import "flexboxgrid.css";
@import "home";
@import "hovers";
@import "slick.css";
@import "servicesPage";
@import "case";
@import "404";
@import "careers";
@import "about";
@import "contact";
@import "news";
@import "philanthropy.css";

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    &:focus{
      outline: none;
    }
}

body{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: geometricPrecision;
  background-color: $white;
  @extend .bold;
  color: $black;
  scroll-behavior: smooth;
}

h1{
  margin: 0;
  font-size: 90px;
  @extend .bold;
  line-height: .89em;
  font-family: "Inter";
  font-weight: 700;
    strong{
      font-weight: 700;
      display: block;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: inherit;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
}

h2{
  margin: 0;
  @extend .bold;
  font-size: 70px;
  line-height: 1.2em;
  font-family: "Inter";
  font-weight: 700;
    strong{
      font-weight: 700;
      display: block;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: inherit;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
}

h3{
  margin: 0;
  @extend .bold;
  font-size: 48px;
  line-height: 1.1em;
  font-family: "Inter";
  font-weight: 700;
    strong{
      font-weight: 500;
      display: inline-block;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: inherit;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
}

h4{
  margin: 0;
  @extend .bold;
  font-size: 30px;
  line-height: 1.2em;
  font-family: "Inter";
  font-weight: 700;
}

h5{
  margin: 0;
  @extend .bold;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 700;
  font-family: "Inter";
}

p,
li{
  margin: 0;
  line-height: 1.9em;
  font-size: 16px;
  @extend .regular;
}

ul{
  padding: 0;
  margin: 0;
    li{
      list-style-type: none;
    }
}

a{
  text-decoration: none;
  color: inherit;
    &:hover,
    &:focus{
      outline: none;
      text-decoration: none;
    }
}

button{
  cursor: pointer;
    &:hover,
    &:focus{
      outline: none;
    }
}

img{
  max-width: 100%;
}

figure{
  margin: 0;
}

blockquote{
  margin: 0;
}

.bold{
  font-family: "Inter";
  // font-weight: 500;
}
.regular{
  font-family: "Inter";
  font-weight: 400;
  strong{
    font-weight: 600;
  }
}
.light{
  font-family: "Roboto-Light", sans-serif, Arial;
  font-weight: 300;
}

.white{
  color: $white;
}
.black{
  color: $black;
}
.violet{
  color: $violet;
}

.title-1{
  @extend h1;
}
.title-2{
  @extend h2;
}
.title-3{
  @extend h3;
}
.title-4{
  @extend h4;
}

#wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cookie-message-wrap {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url(../images/cookies-bg.jpg);
  overflow: hidden;
  color: $white;
  font-size: 14px;
  padding: 18px 0 25px;
    .container{
      max-width: 1620px;
    }
    .subtitle{
      margin-bottom: 3px;
    }
    &.is-visible{
      display: block;
    }
}

.cookie-message-text{
  font-size: 14px;
  opacity: .6;
  max-width: 1135px;
  padding: 0 0 3px;
    p{
      font-size: inherit;
      @extend .light;
      line-height: 1.4em;
    }
}

.default-link{
  text-decoration: underline;
  @extend .regular;
  font-size: 12px;
}

.close-message{
  position: absolute;
  top: 10px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  -webkit-background-size: 12px;
  background-size: 12px;
  background-position: center;
  background-image: url(../images/cross.svg);
  z-index: 1;
}

.footer{
  position: relative;
  color: $white;
  opacity: 0;
  transition: opacity 1s ease;
}

.footer-logo{
  display: block;
  width: 90px;
  margin: 0 auto;
}

.footer-content{
  // background-color: $black;
  background-color: #000;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.footer-nav{
  max-width: 308px;
}

.footer-content-panel{
  display: flex;
  justify-content: space-between;
  // padding: 0 82px 0 65px;
  position: relative;
  z-index: 1;
  width: 100%;
}

.footer-nav-title{
  @extend .nav-link;
  font-size: 14px;
  line-height: 1.4em;
  margin: 0 0 17px
}

.copyright-wrap{
  // background-color: $dark;
  background-color: #000;
  padding: 20px 0 43px 0;
  // border-bottom: 3px $black solid;
}

.copyright-title{
  font-size: 14px;
  opacity: .65;
  // padding: 0 28px;
}

.container{
  max-width: 1422px;
  width: 100% !important;
  margin: 0 auto;
  position: relative;
  clear: both;
}

.nav-link{
  font-weight: 500;
  @extend .bold;
}

.btn-link{
  font-size: 16px;
  @extend .regular;
  // color: $white;
  font-weight: 300;
  height: 35px;
  line-height: 33px;
  max-width: 137px;
  width: 100vw;
  display: inline-block;
  // text-align: center;
  transition: background-color .2s cubic-bezier(.7,.5,.6,1), color .2s cubic-bezier(.7,.5,.6,1);
  // border: 1px $violet solid;
    // &.__solid-theme{
    //   background-color: $violet;
    // }
    &.__border-theme{
      // border: 1px $violet solid;
      // line-height: 33px;
        // &.__white-theme{
        //   border-color: $white;
        // }
        // &.__violet-theme{
        //   color: $violet;
        //   border-color: $dark;
        // }
    }
    &.__sm-theme{
      height: 22px;
      line-height: 20px;
      //max-width: 72px;
      max-width: 100%;
      width: auto;
      padding: 0 10px;
    }
    &.__dynamic-width{
      max-width: 220px;
    }
}

.home-link{
  font-size: 14px;
  @extend .regular;
  color: $white;
  font-weight: 300;
  height: 40px;
  line-height: 33px;
  max-width: 175px;
  width: 100vw;
  display: inline-block;
  text-align: center;
  transition: background-color .2s cubic-bezier(.7,.5,.6,1), color .2s cubic-bezier(.7,.5,.6,1);
  border: 1px $violet solid;
    // &.__solid-theme{
    //   background-color: $violet;
    // }
    &.__border-theme{
      border: 1px $violet solid;
      line-height: 36px;
        // &.__white-theme{
        //   border-color: $white;
        // }
        &.__violet-theme{
          color: $violet;
          border-color: $dark;
        }
    }
    &.__sm-theme{
      height: 22px;
      line-height: 20px;
      //max-width: 72px;
      max-width: 100%;
      width: auto;
      padding: 0 10px;
    }
    &.__dynamic-width{
      max-width: 220px;
    }
}

.btn-link-title{
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: 600;
}

.footer-nav-list{
  // column-count: 2;
  column-gap: 89px;
    .nav-link{
      font-size: 14px;
    }
}

.footer-nav-list-item{
  display: block;
  width: 100%;
  line-height: 1.4em;
  padding: 0 0 14px;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 51px 0 0;
  transition: transform .2s, padding .2s, opacity 1s ease;
    &.__black-theme{
        &.__is-fixed{
            .header-bg{
              background-color: $black;
            }
        }
    }
    &.__violet-theme{
        .toggle-menu-arrow{
          background: $black
        }
        .toggle-menu{
            &.__active-theme{
                .toggle-menu-arrow{
                  background: $white;
                }
            }
        }
        &.__is-fixed{
            .header-bg{
              background-color: $white;
            }
        }
    }
    &.__is-fixed{
      padding: 5px 0;
      z-index: 3;
        .toggle-menu{
          top: 11px;
        }
        .header-bg{
          background-color: $violet;
        }
    }
    &.__is-hidden{
      transform: translate(0,-100%);
    }
}

.header-logo{
  width: 80px;
  display: inline-block;
  position: relative;
  z-index: 3;
  transition: opacity .2s ease;
}

.header-panel{
  margin: 0 auto;
  max-width: 1620px;
  position: relative;
}

.header-bg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 32vw;
}

.toggle-menu{
  border: none;
  background-color: transparent;
  position: absolute;
  left: 403px;
  top: 3px;
  padding: 10px;
  z-index: 3;
  transition: top .2s;
    &.__active-theme{
        .toggle-menu-arrow{
            &:nth-child(1){
              transform: rotate(-45deg);
              top: 5px;
              transition-delay: .5s;
            }
            &:nth-child(2){
              width: 0;
            }
            &:nth-child(3){
              width: 100%;
              transform: rotate(45deg);
              bottom: 7px;
              transition-delay: .5s;
            }
        }
    }
}

.toggle-menu-wrap{
  display: block;
  height: 14px;
  width: 23px;
  position: relative;
}

.toggle-menu-arrow{
  position: absolute;
  height: 2px;
  background-color: $white;
  left: 0;
  transition: all .7s cubic-bezier(.7,.5,.6,1);
    &:nth-child(1){
      top: 0;
      width: 100%;
    }
    &:nth-child(2){
      top: 50%;
      margin-top: -1px;
      width: 85%;
    }
    &:nth-child(3){
      bottom: 0;
      width: 70%;
    }
}

.section{
  position: relative;
  opacity: 0;
  transition: opacity .5s ease;
}

.folder{
  position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 32vw;
      background-color: $violet;
    }
    .description{
      padding: 15px 0 0;
      max-width: 350px;
    }
    &.__home-folder{
      margin: 0 0 72px;
        &:before{
          width: 100%;
        }
        .description{
          max-width: 315px;
          padding: 8px 0;
        }
        .special-description{
          max-width: 400px;
          padding: 8px 0;
          margin-bottom:15px;
        }
        .folder-content{
          padding: 0 0 0 19px;
        }
        .folder-main-preview{
          bottom: -72px;
          width: 675px;
          right: 26.2%;
          height: auto;
          left: auto;
        }
        .folder-content-wrap {
          min-height: 960px;
          padding: 8px 0 0;
        }
    }
    &.__news-folder{
        &:before{
          background-color: $black;
          width: 39.7vw;
        }
        .folder-content-wrap{
          min-height: 100vh;
          padding: 0 0 30px 20px;
        }
        #default-folder-triangle{
          top: 14px;
          left: -120px;
        }
        .folder-content{
            h1, .title-1, .title-1 p{
              line-height: .95em;
            }
        }
    }
    .social-wrap{
      position: absolute;
      top: 70px;
      right: -96px;
      z-index: 2;
      width: auto;
        .black-icon{
          display: inline-block;
        }
        .white-icon{
          display: none;
        }
    }
    .social-wrap-list{
      display: block;
    }
    .social-wrap-list-item{
      width: 100%;
      padding: 0 0 16px;
    }
    .social-link{
      opacity: 1;
      width: 14px;
      height: 14px;
    }
    &.__article-folder{
        &:before{
          background-color: $gray;
          width: 100%;
        }
        .folder-content{
          color: $black;
        }
        .folder-main-preview{
          position: relative;
          left: 0;
          max-width: 594px;
          margin: 136px 0;
          height: 675px;
          z-index: 1;
        }
        .folder-content{
            .article-title,
            .article-title.title-2,
            h2.article-title{
              font-size: 72px;
              color: $black;
              line-height: 1em;
              margin: 10px 0 22px -2px;
            }
        }
        .folder-content-wrap {
          height: 100%;
          padding: 38px 10px 0 100px;
          min-height: 10px;
        }
    }
}

.folder-main-preview{
  position: absolute;
  top: 0;
  height: 605px;
  left: 32vw;
  overflow: hidden;
  right: 0;
    .parallax-outer,
    .parallax-inner{
      height: 100%;
    }
}

.folder-preview-wrap{
  height: 100%
}

.folder-content-wrap{
  min-height: 679px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  //padding: 39px 0 0 20px;
  padding: 0 0 0 20px;
}

.folder-image{
  height: 100%;
}

.folder-content{
  color: $white;
    h1,
    .title-1 p{
      margin: 16px 0 16px -2px;
    }
    h2{
        @extend h1;
    }
    .description{
      margin: 0 0 23px;
    }
    .title-1{
        p{
          @extend h1;
        }
    }
}

.subtitle{
  font-size: 16px;
  @extend .bold;
  font-weight: 300;
  margin: 10px 0;
  overflow: hidden;
    p{
      font-size: inherit;
      @extend .bold;
      color: inherit;
      font-weight: 300;
      line-height: 1.4em;
    }
    .__hidden{
      display: none;
    }
}

.scroll-line-wrap{
  position: fixed;
  top: 50vh;
  left: 2.8%;
  transform: translate(0,-50%);
  color: $white;
  width: 17px;
  padding: 0 0 76px;
  transition: color .4s linear, padding .2s linear, top .2s linear, opacity 1s ease;
  z-index: 1;
  opacity: 0;
    &.__moving-theme{
      padding: 0;
        .scroll-line{
          height: 80px;
        }
        .scroll-line-wrap-title{
          transform: translate(-50%, -100px) scale(-1, -1);
        }
        .custom-slider{
          height: 80px !important;
        }
    }
}

.scroll-dot-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scroll-dot{
  width: 9px;
  height: 9px;
  background-color: currentColor;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 0;
  cursor: move;
}

.scroll-line-wrap-title{
  display: flex;
  font-size: 14px;
  font-weight: 300;
  @extend .regular;
  writing-mode: vertical-rl;
  transform: translate(-50%,0) scale(-1,-1);
  position: absolute;
  left: 50%;
  bottom: 0;
  cursor: default;
  transition: transform .3s cubic-bezier(.7,.5,.6,1);
}

.scroll-line{
  height: 190px;
  width: 1px;
  background-color: currentColor;
  margin: 0 8px;
  transition: height .5s cubic-bezier(.7,.5,.6,1);
}

.description{
  padding: 8px 0;
}

.social-wrap{
  // position: relative;
  padding: 3px 0 0;
  width: 250px;
    margin: 0 auto;
}

.social-wrap-list{
  display: flex;
  // flex-wrap: wrap;
}

.social-wrap-list-item{
  width: 50%;
  padding: 0 0 21px;
}

.social-link{
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  opacity: .57;
  transition: opacity .2s cubic-bezier(.7,.5,.6,1);
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      max-height: 100%;
      max-width: 100%;
    }
    .black-icon{
      display: none;
    }
}

.footer-nav-link{
  display: inline-block;
  @extend .regular;
  font-size: 14px;
  opacity: .65;
  font-weight: 300;
  // margin: 0 0 3px;
  transition: opacity .2s cubic-bezier(.7,.5,.6,1);
    p{
      font-size: inherit;
      line-height: 1.4em;
      // margin: 0 0 5px;
    }
}

.running-text-section{
  margin: -24px 0 0;
  pointer-events: none;
}

.running-text-wrap{
  white-space: nowrap;
  overflow-y: hidden;
  position: absolute;
  transition: transform .1s;
  top: 0;
  left: 0;
  padding: 0 0 0 120px;
    &::-webkit-scrollbar {
      height: 0;
      display: none;
    }
    &::-webkit-scrollbar-track {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
}

.running-text{
  display: inline-block;
  opacity: .4;
  font-size: 170px;
  @extend .bold;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 0 0 0 30px;
  line-height: 1em;
}

.running-text-wrap-mask{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: $white;
}

.last-case-section{
  padding: 37px 0;
}

.last-case-wrap{
  margin: 0 auto;
  padding: 0 19px;
}

.last-case-wrap-image{
  margin: 0 0 0 -45px;
  height: 662px;
}

.last-case-image{
  height: 100%;
}

.last-case-wrap-content{
  padding: 83px 80px 0 80px;
    .case-logo{
      margin: 0 0 30px;
      height: 45px;
    }
    .subtitle{
      margin-bottom: 7px;
    }
    .btn-link, .home-link{
      margin: 42px 0 0;
    }
}

.case-logo-image{
  max-height: 100%;
}

.inspired-wrap{
  background-color: $violet;
  color: $white;
  max-width: 1387px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
    .triangle-item{
      width: 1070px;
      bottom: -78px;
      right: -487px;
    }
}

.inspired-section{
  margin: 86px 0 0;
  overflow: hidden;
}

.inspired-preview{
  width: 50%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.inspired-preview-image{
  height: 100%;
}

.inspired-content{
  display: flex;
  align-items: center;
  padding: 0 67px 8px;
  position: relative;
  z-index: 1;
    h2{
      text-transform: capitalize;
      line-height: 1.1em;
    }
    .btn-link, .home-link{
      margin: 32px 0 0;
    }
}

.inspired-content-wrap{
  max-width: 300px;
}

.triangle-item{
  position: absolute;
}

#folder-triangle{
  bottom: -26px;
  left: -115px;
  max-width: 1065px;
  width: 62vw;
  opacity: .22;
    path{
      stroke: $white;
      fill: transparent;
      stroke-width: .1px;
      stroke-dasharray: 500, 500;
      stroke-dashoffset: 500;
    }
}

#default-folder-triangle{
  bottom: -203px;
  left: -122px;
  max-width: 1065px;
  width: 62vw;
  opacity: .22;
    path{
      stroke: $white;
      fill: transparent;
      stroke-width: .1px;
      stroke-dasharray: 500, 500;
      stroke-dashoffset: 500;
    }
}

#folder-new-triangle{
  bottom: -123px;
  left: 42px;
  max-width: 870px;
  width: 51vw;
  opacity: .22;
    path{
      stroke: $white;
      fill: transparent;
      stroke-width: .1px;
      stroke-dasharray: 500, 500;
      stroke-dashoffset: 500;
    }
}

#approach-triangle{
  bottom: -439px;
  left: 157px;
  width: 840px;
  transform: rotate(91deg);
  z-index: -1;
  opacity: .22;
    path{
      fill: transparent;
      stroke: $black;
      stroke-width: .1px;
      stroke-dasharray: 500, 500;
      stroke-dashoffset: 500;
    }
}

#wha-we-do-triangle{
  top: 42px;
  right: -450px;
  max-width: 1086px;
  width: 63vw;
  opacity: .22;
  z-index: 1;
    path{
      fill: transparent;
      stroke: $black;
      stroke-width: .1px;
      stroke-dasharray: 500, 500;
      stroke-dashoffset: 500;
    }
}

#footer-triangle{
  top: -178px;
  right: -21%;
  width: 740px;
  opacity: .22;
    path{
      stroke: $white;
      fill: transparent;
      stroke-width: .1px;
      stroke-dasharray: 500, 500;
      stroke-dashoffset: 500;
    }
}

#footer-block-triangle{
    path{
      fill: $white;
    }
}

#services-triangle{
  top: 8px;
  left: 50%;
  transform: translate(-42.5%, 0);
  width: 1088px;
  opacity: .22;
    path{
      fill: transparent;
      stroke: $black;
      stroke-width: .1px;
      stroke-dasharray: 500, 500;
      stroke-dashoffset: 500;
    }
}

#detail-triangle{
  bottom: -3px;
  right: -508px;
  width: 910px;
  opacity: .22;
    path{
      stroke: $white;
      fill: transparent;
      stroke-width: .1px;
      stroke-dasharray: 500, 500;
      stroke-dashoffset: 500;
    }
}

#challenge-triangle{
  bottom: -9px;
  right: 10px;
  width: 880px;;
  opacity: .22;
    path{
      stroke: $white;
      fill: transparent;
      stroke-width: .1px;
      stroke-dasharray: 500, 500;
      stroke-dashoffset: 500;
    }
}

#solution-triangle{
  top: 97px;
  left: 50%;
  transform: translate(-74%, 0);
  width: 1088px;
  opacity: .22;
    path{
      fill: transparent;
      stroke: $black;
      stroke-width: .1px;
      stroke-dasharray: 500, 500;
      stroke-dashoffset: 500;
    }
}

#cases-triangle{
  top: 39%;
  left: 50%;
  transform: translate(-49%, -51%);
  width: 880px;
  opacity: .22;
    path{
      fill: transparent;
      stroke: $black;
      stroke-width: .1px;
      stroke-dasharray: 500, 500;
      stroke-dashoffset: 500;
    }
}

#nav-triangle{
  bottom: -191px;
  right: -349px;
  width: 880px;
  opacity: 0;
  path{
    stroke: $white;
    fill: transparent;
    stroke-width: .1px;
    stroke-dasharray: 500, 500;
    stroke-dashoffset: 500;
  }
}

#error-triangle{
  top: 66%;
  left: 27.2%;
  transform: translate(-50%, -50%);
  width: 1270px;
  opacity: .22;
    path{
      stroke: $white;
      fill: transparent;
      stroke-width: .1px;
      stroke-dasharray: 500, 500;
      stroke-dashoffset: 500;
    }
}

#responsibilities-triangle{
  top: 85%;
  left: 48%;
  transform: translate(-50%,0) scaleY(-1);
  width: 680px;
    path{
      fill: $violet;
    }
}

#requirements-triangle{
  top: 86%;
  left: 51%;;
  transform: translate(-50%,0) rotate(-173deg);
  width: 680px;
    path{
      fill: $black;
    }
}

#apply-triangle{
  @extend #requirements-triangle;
  top: 81%;
}

#about-solution-triangle{
  @extend #cases-triangle;
  width: 800px;
  top: 8%;
  left: -5%;
  transform: translate(0,0);
}

#about-review-triangle{
  @extend #about-solution-triangle;
  top: 0;
}

#job-challenge-triangle{
  @extend #challenge-triangle;
  right: 17%;
  width: 860px;
  bottom: -17px;
}

#job-interview-triangle{
  @extend #job-challenge-triangle;
  right: -23%;
  bottom: auto;
  top: 16px;
}

#job-solution-triangle{
  @extend #about-solution-triangle;
}

#interview-triangle{
  @extend #about-solution-triangle;
  width: 840px;
  left: -9%;
  top: 14%;
}

#job-apply-triangle{
  @extend #interview-triangle;
  top: 75%;
  left: 3%;
  width: 800px;
}

#map-triangle{
  @extend #cases-triangle;
  width: 1060px;
  top: 29%;
    path{
      stroke: $white;
    }
}

#feedback-triangle{
  @extend #about-review-triangle;
  top: 45%;
  left: 3%;
}

#marker-triangle{
  @extend #job-challenge-triangle;
  width: 520px;
  right: auto;
  left: -32px;
  bottom: -124px;
}

#news-triangle{
  @extend #about-solution-triangle;
  top: 49%;
  left: 78%;
  transform: translate(-50%, -50%);
  width: 545px;
}

#folder-bg-triangle{
  @extend #job-challenge-triangle;
  right: auto;
  left: -128%;
  top: -106px;
  bottom: auto;
  width: 1380px;
}

#article-folder-triangle{
  width: 1240px;
  left: -217px;
  top: 2px;
    path{
      fill: $white;
    }
}

#article-triangle{
  @extend #cases-triangle;
  top: 510px;
  left: 50%;
  transform: translate(-59%, 0);
}
#article-triangle-bottom{
  @extend #cases-triangle;
  top: 25%;
  left: 43%;
  width: 840px;
  transform: translate(-59%, -69%);
}

#careers-triangle{
  @extend #cases-triangle;
}

.triangle-path{
  transition: all 5s cubic-bezier(.7,.5,.6,1);
}

.slider{
  position: absolute;
  width: 100px;
  height: 10px;
}

.scroll-slider{
  top: 0;
  left: 9px;
  position: relative;
}

.custom-slider{
  height: 190px !important;
  width: 1px !important;
  background-color: currentColor !important;
  transition: height .5s cubic-bezier(.7,.5,.6,1);
    & > div:nth-child(1){
      background-color: currentColor !important;
    }
    & > div:nth-child(2){
      background-color: currentColor !important;
      border-radius: 50%;
      width: 9px;
      height: 9px;
      left: 0px !important;
      cursor: pointer;
        &:after{
          width: 9px;
          height: 9px;
          cursor: move;
          background-color: inherit;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          display: none;
        }
    }
}

.swipe-slider-wrap{
  position: absolute;
  display: inline-flex;
  align-items: center;
  z-index: 1;
    .swipe-slider-wrap-title{
      margin: 0 18px 0 0;
    }
    &.__services-theme{
      right: 17vw;
      top: 218px;
    }
    &.__team-theme{
      top: -152px;
      right: 21.8%;
    }
    &.__news-theme{
      display: flex;
      right: -10%;
      top: 50%;
      transform: translate(0, -108%);
      z-index: 1;
      writing-mode: vertical-rl;
        .swipe-slider-wrap-title {
          margin: 0 0 18px 0;
        }
    }
    &.__scroll-theme{
      display: none;
    }
}

.swipe-slider-wrap-title{
  font-size: 14px;
}

.swipe-slider{
  height: 190px !important;
  width: 1px !important;
  background-color: currentColor !important;
  position: absolute;
  z-index: 1;
    & > div:nth-child(1){
      background-color: currentColor !important;
      transition: let 1s cubic-bezier(.1,1,.1,1), top 1s cubic-bezier(.1,1,.1,1);
      pointer-events: none;
    }
    & > div:nth-child(2){
      background-color: $white !important;
      border: 1px currentColor solid;
      border-radius: 50%;
      width: 54px;
      height: 54px;
      cursor: grab;
      transition: top .4s ease, left .4s ease;
        &:before{
          content: '';
          position: absolute;
          width: 18px;
          height: 20px;
          top: 50%;
          left: 10px;
          transform: translate(0,-50%);
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          background-position: center;
          background-image: url(../images/hand.svg);
        }
        &:after{
          content: '';
          position: absolute;
          width: 7px;
          height: 6px;
          top: 50%;
          right: 10px;
          transform: translate(0,-50%);
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          background-position: center;
          background-image: url(../images/arrow-right.svg);
          background-color: transparent;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          border-radius: 0;
          left: auto;
        }
    }
    &.__moving-theme{
        & > div:nth-child(2){
          cursor: grabbing;
          transition: all 0s;
        }
    }
    &.vertical{
        & > div:nth-child(2){
          left: -26px !important;
          transform: rotate(90deg);
        }
    }
    &.horizontal{
      height: 1px !important;
      width: 210px !important;
        & > div:nth-child(2){
          top: -27px !important;
        }
        &:before{
          content: '';
          position: absolute;
          right: -7px;
          top: -3px;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: currentColor;
        }
    }
}

.folder-logo{
  max-width: 122px;
  padding: 0 0 27px;
    /*img{
      filter: brightness(0) invert(1);
    }*/
}

.folder-logo-image{
  max-height: 55px;
}

.main-nav-wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s cubic-bezier(.7,.5,.6,1);
    .triangle-wrap{
      overflow: hidden;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    &.__open-theme{
      z-index: 2;
      opacity: 1;
      pointer-events: auto;
        #nav-triangle{
          transition: opacity .5s cubic-bezier(.7,.5,.6,1);
          opacity: .22;
          transition-delay: 1.05s;
        }
        .main-nav-list{
            &:before{
              transform: translate(0,0);
            }
        }
        .link-wrap{
          transition: transform 0.8s cubic-bezier(.1,1,.1,1), opacity 2.4s cubic-bezier(.1,1,.1,1);
          transform: translate(0,0);
          opacity: 1;
        }
        .main-nav-list-item{
          &:nth-child(1){
              .link-wrap{
                transition-delay: .5s;
              }
          }
          &:nth-child(2){
              .link-wrap{
                transition-delay: 1s;
              }
          }
          &:nth-child(3){
              .link-wrap{
                transition-delay: 1.1s;
              }
          }
          &:nth-child(4){
              .link-wrap{
                transition-delay: 1.2s;
              }
          }
          &:nth-child(5){
              .link-wrap{
                transition-delay: 1.3s;
              }
          }
          &:nth-child(6){
              .link-wrap{
                transition-delay: 1.4s;
              }
          }
          &:nth-child(7){
              .link-wrap{
                transition-delay: 1.5s;
              }
          }
          &:nth-child(8){
              .link-wrap{
                transition-delay: 1.6s;
              }
          }
          &:nth-child(9){
              .link-wrap{
                transition-delay: 1.7s;
              }
          }
          &:nth-child(10){
              .link-wrap{
                transition-delay: 1.8s;
              }
          }
        }
    }
}

.menu-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 1;
}

.main-nav{
  position: relative;
  margin: 0 auto;
  max-width: 1620px;
  display: block;
  height: 100%;
}

.main-nav-list{
  position: relative;
  // max-width: 445px;
  padding: 180px 0 0 80px;
  height: 100vh;
    &:before{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: -100vw;
      background-color: #000;
      transform: translate(-100%,0);
      transition: transform 1s cubic-bezier(.7,.5,.6,1);
      z-index: 1;
    }
}

.link-wrap{
  transform: translate(0,120%);
  display: inline-block;
  opacity: 0;
}

.main-nav-list-item{
  position: relative;
  z-index: 1;
  padding: 1.2vh 0;
  overflow: hidden;
}

.main-nav-link{
  @extend h3;
  color: $white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $white;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-image: url(../images/line-progress-bg-white.jpg);
  // -webkit-background-size: 0 110%;
  // background-size: 0 110%;
  background-position: right bottom;
  line-height: 1.5em;
  margin: -.25em 0;
  display: inline-block;
  transition: all .6s ease;
    // &:before{
    //   content: '';
    //   position: absolute;
    //   width: 9px;
    //   height: 9px;
    //   background-color: $white;
    //   border-radius: 50%;
    //   top: 50%;
    //   left: 0;
    //   transform: translate(100px,-50%);
    //   opacity: 0;
    //   transition: transform .6s ease, opacity .6s ease;
    // }
    &.active{
      padding-left: 35px;
      background-size: 100% 100%;
        &:before{
          opacity: 1;
          transform: translate(0,-50%);
        }
    }
}

.popupbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
    &.is-active{
      opacity: 1;
      pointer-events: auto;
    }
}

.popupbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
  background: none repeat scroll 0 0 $white;
  opacity: .7;
}

.popupbox-titleBar{
    span{
      display: none;
      font-size: 0;
    }
}

.popupbox-wrapper {
  z-index: 1003;
  position: relative;
  background-color: $white;
  text-align: center;
  padding: 65px 30px 83px;
  max-width: 508px;
  width: 100%;
  -webkit-box-shadow: 0px 31px 68px 19px rgba(103,21,209,0.16);
  -moz-box-shadow: 0px 31px 68px 19px rgba(103,21,209,0.16);
  box-shadow: 0px 31px 68px 19px rgba(103,21,209,0.16);
    p{
      opacity: .72;
    }
    .title-4{
      margin: 32px 0 11px;
    }
    .btn-link, .home-link{
      margin: 31px 0 0;
    }
}

.popupbox-btn--close{
  position: absolute;
  color: $violet;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
}

.popup-logo{
  max-width: 80px;
  margin: 0 auto;
}

.bread-crumbs-wrap{
  @extend .regular;
}

.bread-crumb-link{
  @extend .regular;
  font-size: 14px;
  display: inline-block;
  color: $violet;
  text-transform: capitalize;
  padding-left: 2px;
  line-height: 1.2em;
  font-weight: 500;
    &:last-child{
      color: $black;
    }
    &:nth-child(1){
      padding-left: 0;
    }
}

.folder-bg-wrap{
  position: absolute;
  top: 0;
  bottom: -46px;
  right: 123px;
  background-color: $black;
  width: 442px;
    .triangle-wrap{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
    }
}

.folder-share-wrap{
  position: absolute;
  top: 0;
  height: 100%;
  background-color: $violet;
  right: 0;
  width: 123px;
    &:before{
      content: '';
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(-50%,0);
      width: 18px;
      height: 19px;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      background-position: center;
      background-image: url(../images/share.svg);
    }
}

.article-date{
  position: absolute;
  display: flex;
  font-size: 12px;
  writing-mode: vertical-rl;
  color: $white;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%,0);
}

.share-list{
  text-align: center;
  padding: 176px 0 0;
}

.SocialMediaShareButton{
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 14px;
  background-size: 14px;
  margin: 0 auto 31px;
    &:last-child{
      margin-bottom: 0;
    }
    &--twitter{
      background-image: url(../images/twitter.svg);
    }
    &--facebook{
      background-image: url(../images/facebook-letter-logo.svg);
    }
    &--linkedin{
      background-image: url(../images/linkedin-letters.svg);
    }
}

.show-on-scroll{
  transition: opacity 1s ease, transform 1s ease;
  transform: translate(0,100px);
  opacity: 0;
}

.time-left-wrap{
  position: fixed;
  bottom: -102px;
  left: 0;
  width: 100%;
  z-index: 2;
  color: $white;
  transition: transform .1s;
    &:before{
      content: '';
      position: absolute;
      top: 11px;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      background-image: url(../images/time-left-bg.jpg);
    }
    &.__is-visible{
      display: block;
    }
}

.time-left-panel{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 102px;
  height: auto;
  margin: 0 auto;
  max-width: 800px;
  padding: 11px 0 0;
    .btn-link, .home-link{
      position: relative;
    }
}

.time-left-message{
  position: relative;
  padding-left: 46px;
  font-size: 24px;
  @extend .bold;
  line-height: 1.1em;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 26px;
      height: 100%;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      background-position: center;
      background-image: url(../images/clock.svg);
    }
}

.time-left-progress{
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 11px;
  background-color: $violet;
  transition: width .3s;
}

.invisible-link{
  display: inline-flex;
  align-items: center;
}

.default-page-section{
  padding: 200px 0 0;
    h1{
      margin: 0 0 10px;
    }
    h4{
      line-height: 1.4em;
    }
    p{
      margin: 20px 0;
    }
}

.job-challenge-block-content p {
  width:100% !important;
  max-width:100% !important;
}

.folder:not(.__home-folder){
    &:before{
      transition: transform 1s ease, opacity 1s ease;
      transform: scaleX(0);
      transform-origin: left;
    }
}

.folder-content{
  transition: opacity 1s ease, transform 1s ease;
  opacity: 0;
  transform: translate(0,-20px);
}

.folder-talk-wrap,
.case-detail-wrap{
  transition: opacity 1s ease, transform 1s ease;
  opacity: 0;
}

.folder-talk-image{
  transition: transform 1s ease;
  transform: translate(-50px,0);
}

.folder-new-item{
  transition: opacity 1s ease, transform 1s ease;
  opacity: 0;
  transform: translate(0,20px);
}

.folder-main-preview{
  transition: opacity 1s ease;
  opacity: 0;
}

.social-wrap-list-item{
  transition: opacity 1s ease, transform 1s ease;
  opacity: 0;
  transform: translate(0,20px);
}

.news-move-wrap{
  transition: opacity 1s ease, transform 1s ease;
  opacity: 0;
  transform: translate(0,20px);
}

.clients{
  padding: 60px 0 60px;
    &-carousel{
      padding: 20px 0;
        &-slide{
          padding: 0 20px;
        }
    }
}

.client-item{
  height: 100px;
  max-width: 175px;
  width: 100%;
  overflow: hidden;
  display: block;
  filter: grayscale(1);
  transition: filter .3s ease, opacity .3s ease;
  opacity: .4;
  margin: 0 auto;
    &-logo{
      height: 100%;
    }
}

.tl-wrapper-status{
    &--entered{
        .section,
        .footer,
        .header,
        .scroll-line-wrap{
          opacity: 1;
        }
        .folder{
            &:not(.__home-folder) {
                &:before {
                  transform: scaleX(1);
                }
            }
        }
        .folder-content,
        .folder-talk-wrap,
        .folder-new-item,
        .folder-talk-image,
        .news-move-wrap,
        .case-detail-wrap{
          opacity: 1;
          transform: translate(0,0);
        }
        .folder-main-preview{
          opacity: 1;
          transition-delay: .2s;
        }
        .folder-talk-wrap,
        .folder-talk-image{
          transition-delay: .2s;
        }
        .folder-new-item{
          transition-delay: .4s;
        }
        .social-wrap-list-item{
          opacity: 1;
          transform: translate(0,0);
            &:nth-child(2){
              transition-delay: .1s;
            }
            &:nth-child(2){
              transition-delay: .2s;
            }
            &:nth-child(3){
              transition-delay: .3s;
            }
            &:nth-child(4){
              transition-delay: .4s;
            }
        }
    }
    &--exiting{
        .folder{
          opacity: 0;
          transition: opacity 1s ease;
            &:not(.__home-folder) {
              &:before {
                opacity: 0;
                transform: scaleX(1);
              }
            }
        }
        .folder-content,
        .folder-content,
        .folder-talk-wrap,
        .folder-new-item,
        .folder-talk-image,
        .news-move-wrap,
        .case-detail-wrap,
        .section,
        .footer,
        .scroll-line-wrap{
          opacity: 0;
          transform: translate(0,0);
        }
        .header{
          opacity: 0;
            &.__violet-theme{
                .header-logo{
                  opacity: 0;
                }
            }
        }
    }
}
.span{
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  strong{
    font-weight: 600;
  }
}
.p{
  font-family: "Inter";
  font-weight: 400;
  strong{
    font-weight: 600;
  }
}
// ul.sub-nav-list {
//   margin-left: 30px;
// }
.sub-nav-link{
  @extend h5;
  color: $white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $white;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-image: url(../images/line-progress-bg-white.jpg);
  // -webkit-background-size: 0 110%;
  // background-size: 0 110%;
  background-position: right bottom;
  line-height: 1.5em;
  margin: -.25em 0;
  display: inline-block;
  transition: all .6s ease;
    &:before{
      content: '';
      position: absolute;
      width: 9px;
      height: 9px;
      background-color: $white;
      border-radius: 50%;
      top: 50%;
      left: 0;
      transform: translate(100px,-50%);
      opacity: 0;
      transition: transform .6s ease, opacity .6s ease;
    }
    &.active{
      padding-left: 35px;
      background-size: 100% 100%;
        &:before{
          opacity: 1;
          transform: translate(0,-50%);
        }
    }
}
span.m-title {
  display: block;
  position: absolute;
  margin-left: -60px;
  font-size: 18px;
  line-height: 12px;
  color: #fff;
}
button.toggle-menu.__active-theme span.m-title {
  display: none;
}
.m-title-open{
  display: none;
  position: absolute;
  margin-left: -120px;
  font-size: 18px;
  line-height: 12px;
  color: #fff;
}
button.toggle-menu.__active-theme span.m-title-open {
  display: block;
}
// a.footer-link-single {
//   bottom: 0;
//   position: absolute;
// }
ul.submenu {
  margin-left: 40px;
  padding-top: 15px;
}
#flex {
  display: flex;
  /* Optional, if you want the DIVs 100% width: */
  flex-direction: column;
}
#flex > #a { order: 2; }
#flex > #b { order: 1; }
#flex > #c { order: 3; }

.footer-content .chat-bot-row {
  background: #fff;
  width: 960px;
  height: 774px;
  margin-top: -98px;
  padding: 40px;
  // position: absolute;
}
.footer-content-panel {
  margin-bottom: 70px;
  padding: 98px 0 0 0;
  text-align:left;
}
// iframe.meetings-iframe-container {
//   height: 100%;
//   width: 670px;
// }
.copy-area {
  margin-top: -24px;
}
.single-link-footer {
  position: relative;
}
a.footer-link-single {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  line-height: 1.4em;
  margin: 0 0 11px;
  font-family: "Inter";
  font-weight: 400;
}

.mobile-chat {
  display: none;
}

.next-step-sec {
  background-color: #fff;
  padding: 0 90px;
}

iframe.meetings-iframe-container {
  margin-top: -50px;
  position: relative;
  z-index: 1;
}

iframe.meetings-iframe-container.header-bot{
  position: relative;
  z-index: 1;
  margin-top: 0;
}

.chat-bot-header iframe {
  height: 100vh;
}

h5#chat-title {
  position: absolute;
  margin-top: -110px;
}

.next-step-sec .inspired-preview.test-white {
  padding: 30px 0px 0px 100px;
}

a.step-links-tag {
  text-decoration: underline;
  font-weight: 700;
  line-height: 1.6;
}

.steplink-list {
  padding-left: 90px;
  margin-top: 50px;
}
@import "media";

.__fcol{
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.__fcol{
  a.footer-link-single{
    margin: 0;
  }
}
.__fcol{
  .copyright-title{
    line-height: 1.2em;
  }
}
@media screen and (max-width:1400px) {
  .__fcol{
    justify-content: center;
  }
  .__fcol .copyright-title {
    line-height: 1.5em;
}
}
.footer-logo img{
  padding-bottom: .8rem;
}
.menu-color .header-panel span.m-title {
  color: $black;
}

  ul.submenu{
    display: none;
  }

  .custom-slider > div:nth-child(2)> div{
display: none;
  }

  .cont-details {
    position: absolute;
    background-color: #fff;
    width: 100%;
    padding: 15px 0;
}
