@import "variables";
@import "fonts";
@import "flexboxgrid.css";

.folder-talk{
  position: relative;
  padding: 70px 0 70px 40px;
  //min-height: 495px;
  min-height: 51.6%;
    &:before{
      content: '';
      position: absolute;
      left: -41px;
      top: 0;
      bottom: 0;
      right: -50vw;
      background-color: $white;
    }
}

.folder-talk-wrap{
  position: relative;
  color: $black;
  z-index: 1;
}

.folder-talk-image{
  max-width: 201px;
  margin: 0 0 21px -55px;
}

.folder-talk-item-title{
  margin: 21px 0 8px;
}

.folder-talk-item-description{
  opacity: .72;
  max-width: 220px;
  margin: 13px 0 16px;
}

.folder-new{
  position: relative;
  //min-height: 465px;
  min-height: 48.4%;
  padding: 70px 0 70px 40px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: -41px;
      bottom: 0;
      right: -50vw;
      background-color: $black;
    }
    .btn-link{
      margin: 28px 0 0;
    }
}

.folder-new-item{
  position: relative;
  color: $white;
  z-index: 1;
}

.folder-new-item-title{
  margin: 0 0 28px;
}

.approach-section{
  padding: 135px 0 20px;
    .subtitle{
      padding-left: 220px;
    }
}

.approach-carousel{
  border-bottom: 1px $violet solid;
  cursor: ew-resize;
    .slick-list{
      width: 100vw;
      padding: 0 0 0 8.6%;
    }
    .slick-current{
        .approach-carousel-slide{
            h3{
              color: $violet;
              -webkit-text-fill-color: inherit;
              -webkit-text-stroke-color: inherit;
            }
            &:before{
              width: calc(100% - 50px);
            }
        }
    }
}

.approach-carousel-slide{
  position: relative;
  padding: 32px 40px 60px 50px;
  margin: 0 50px 0 0;
    h3{
      color: $violet;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $black;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      transition: all .5s cubic-bezier(.7,.5,.6,1);
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 5px;
      width: 0;
      background-color: $violet;
      transition: width .5s cubic-bezier(.7,.5,.6,1);
    }
}

.approach-carousel-slide-label{
  display: flex;
  writing-mode: vertical-rl;
  transform: scale(-1,-1);
  position: absolute;
  left: 17px;
  top: 46px;
  font-size: 12px;
  color: $violet;
  font-weight:900;
  letter-spacing: 0.05em;
  white-space: nowrap;
}

.approach-description-wrap{
  margin: 123px -25px 0 -25px;
    &.__hidden{
      display: none;
    }
  //max-width: 986px;
}

.approach-description-wrap-content{
  column-count: 2;
  padding: 24px 0;
}

.what-we-do-section{
  padding: 0;
}

.what-we-do-title-wrap{
  margin: 0 0 0 -25px;
  position: relative;
  max-width: 268px;
  transition: padding .4s;
    &:before{
      content: '';
      position: absolute;
      top: -175px;
      left: -184px;
      right: -100vw;
      bottom: 0;
      background-color: $white;
      z-index: -1;
    }
    h2{
      line-height: 1em;
      margin: 0 0 8px;
      text-transform: capitalize;
      font-size: 70px;
    }
    .btn-link{
      margin: 25px 0 0;
    }
}

.what-we-do-preview{
  height: 42.7vw;
  max-width: 79.5vw;
  position: relative;
  z-index: -1;
  margin: 0 0 78px;
}

.what-we-do-preview-image{
  height: 100%;
  left: 0;
}

.services-list{
  display: flex;
  flex-wrap: wrap;
  padding: 19px 7px 0;
  max-width: 675px;
  position: relative;
  z-index: 1;
}

.services-list-item{
  width: 50%;
  padding: 0 0 45px;
}

.services-list-item-title{
  text-transform: capitalize;
  max-width: 200px;
  margin: 0 0 11px;
}

.services-list-item-icon{
  height: 72px;
}

.services-list-item-description{
  max-width: 270px;
}

.approach-title-carousel{
  display: inline-block;
  max-width: 160px;
  padding-left: 2px;
}

.approach-title-carousel-wrap{
  display: flex;
  align-items: center;
}

.folder-contact-parallax{
  height: 100%;
    .parallax-inner{
      height: 100%;
    }
}