@media only screen and (min-width: 991px), (any-hover: hover) {

  .btn-link, .home-link{
      &.__solid-theme{
          &:hover{
            background-color: $white;
            color: $violet;
          }
      }
      &.__border-theme{
          // &:hover{
          //   background-color: $violet;
          // }
          &.__white-theme{
              &:hover{
                // background-color: $white;
                color: $white;
              }
          }
          &.__violet-theme{
              &:hover{
                color: $white;
                background-color: $violet;
              }
          }
      }
  }

  a.footer-nav-link{
      &:hover{
        opacity: 1;
      }
  }

  .social-link{
      &:hover{
        opacity: 1;
      }
  }

  .custom-nav-item {
      &.__next{
          &:hover{
              &:before{
                left: 136px;
              }
              .custom-nav-item-arrow{
                width: 70px;
              }
          }
      }
      &.__prev{
          &:hover{
              &:before{
                right: 139px;
              }
              .custom-nav-item-arrow{
                width: 70px;
              }
          }
      }
  }

  .custom-carousel-nav-wrap{
      &.__double-theme{
          .custom-nav-item {
              &.__next{
                  &:hover{
                      &:before{
                        left: 170px;
                      }
                  }
              }
              &.__prev{
                  &:hover{
                      &:before{
                        right: 170px;
                      }
                  }
              }
          }
      }
  }

  .custom-nav-pagination-link{
      &:hover{
        background-color: $violet;
        color: $white;
      }
  }

  .main-nav-link, .sub-nav-link{
      &:hover{
        padding-left: 10px;
        background-size: 100% 100%;
          // &:before{
          //   opacity: 1;
          //   transform: translate(0,-50%);
          // }
      }
  }

  .client-item{
      &:hover{
        opacity: 1;
        filter: grayscale(0);
      }
  }

}