@media only screen and (max-width: 1710px) {

  .container{
    padding: 0 50px;
  }

  .header-panel{
    padding: 0 20px;
  }

  .main-nav{
    padding: 0 20px;
  }

  .scroll-line-wrap{
    left: 20px;
  }

  .folder{
      .social-wrap{
        right: 0;
      }
      &.__news-folder{
          h1, .title-1{
            font-size: 84px;
          }
      }
  }

  .challenge-preview{
    width: 100vw;
  }

  .challenge-wrap{
    padding: 86px 0 120px 0;
  }

  .folder-talk{
      &:before{
        left: -50px;
      }
  }

  .what-we-do-title-wrap {
    h2, .title-2{
      font-size: 52px;
    }
  }

}

@media only screen and (max-width: 1600px) {

  .folder{
      &.__home-folder{
          .folder-main-preview{
            width: 42vw;
          }
          .folder-content-wrap{
            padding: 8px 0 0 50px;
            min-height: 860px;
          }
      }
      .social-wrap{
        right: 10px;
      }
  }

  .folder-content-wrap{
    padding: 39px 0 0 50px;
  }

  .folder-new,
  .folder-talk{
    padding: 70px 0 70px 20px;
  }

  .folder-talk-image {
    margin: 0 0 21px -35px;
    max-width: 180px;
  }

  .case-detail-wrap{
    padding: 96px 14px 107px 50px;
  }

  .case-folder-wrap {
      .folder-content-wrap{
        padding: 39px 0 0 50px;
      }
      .folder-main-preview {
        height: 690px;
      }
  }

  .job-folder-wrap{
      .folder-content-wrap{
        padding: 27px 0 0 50px;
      }
  }

  .job-challenge-block {
    margin: -225px 20px 0 -18px;
  }

  .swipe-slider-wrap{
      &.__news-theme{
        right: -30px;
      }
  }

  .new-item {
    margin: 6vh 0 6vh 50px;
      .new-item-nav{
        left: -50px;
      }
  }

  .map-section {
      #job-apply-triangle {
        top: 60%;
        left: -16%;
      }
  }

}

@media only screen and (max-width: 1500px) {

  h1, .title-1{
    font-size: 82px;
  }

  h2, .title-2{
    font-size: 68px;
  }

  h3, .title-3{
    font-size: 48px;
  }

  h4, .title-4{
    font-size: 28px;
  }

  h5, .title-5{
    font-size: 22px;
  }

  .services-list-item-title{
    max-width: 180px;
  }

  .running-text-wrap{
    padding: 0 0 4px 80px;
  }

  .running-text{
    font-size: 140px;
  }

  .last-case-wrap-content {
    padding: 83px 80px 0 30px;
  }

  .inspired-wrap{
    margin: 0 -20px;
  }

  // .footer-content {
  //   padding: 85px 0 75px;
  // }

  // .footer-logo{
  //   margin: 5px 0 0 0;
  // }

  .footer-content-panel{
    padding: 80px 0 0 65px;
  }

  .toggle-menu{
    left: 28vw;
    
  }

  #footer-triangle{
    right: -200px;
  }

  .copyright-title{
    padding: 0;
  }

  .cases-list{
    padding: 0 20px;
      & ~ .custom-carousel-nav-wrap{
        padding: 0 40px;
      }
  }

  .error-wrap-content {
      .title-1{
        font-size: 110px;
      }
  }

  .error-title{
    font-size: 110px;
  }

  #error-triangle{
    width: 85vw;
  }

  .error-wrap-content {
    padding: 70px 0 0;
  }

  .about-review-preview{
    width: 34vw;
  }

  .about-review-wrap {
    padding: 0 0 0 50px;
  }

  .new-item{
    max-width: 43vw;
  }

  .new-item-title,
  .new-item-title.title-2{
    font-size: 5vw;
  }

  .swipe-slider-wrap{
      &.__news-theme{
        right: 0;
      }
  }

  .map-section {
      #job-apply-triangle {
        left: -21%;
      }
  }

}

@media only screen and (max-width: 1440px) {

  h1, .title-1{
    font-size: 76px;
  }

  h2, .title-2{
    font-size: 60px;
  }

  h3, .title-3{
    font-size: 48px;
  }

  h4, .title-4{
    font-size: 24px;
  }

  h5, .title-5{
    font-size: 20px;
  }

  .folder-new,
  .folder-talk {
    padding: 50px 0 50px 20px;
  }

  .folder-talk{
    min-height: 48%;
  }

  .folder-new{
    min-height: 52%;
  }

  .folder{
      &.__home-folder {
          .folder-content-wrap{
            min-height: 760px;
          }
      }
      &.__article-folder {
          .folder-content-wrap {
            padding: 130px 10px 60px 60px;
          }
          .folder-main-preview{
            max-width: 40vw;
            height: 40vw;
            margin: 90px 0;
          }
          .folder-content{
              .article-title,
              .article-title.title-2,
              h2.article-title {
                font-size: 64px;
              }
          }
      }
      &.__news-folder{
          h1, .title-1{
            font-size: 76px;
          }
      }
  }

  .article-content {
      h4{
        max-width: 230px;
      }
      blockquote{
          p{
            max-width: 100%;
          }
      }
  }

  .folder-bg-wrap{
    width: 36vw;
  }

  .what-we-do-title-wrap{
    max-width: 235px;
  }

  .services-list-item-title {
    max-width: 150px;
  }

  .last-case-wrap-content {
    padding: 60px 80px 0 0;
  }

  .case-folder-wrap {
      .folder-content-wrap {
        min-height: 600px;
      }
      .folder-main-preview {
        height: 635px;
      }
  }

  #default-folder-triangle{
    bottom: -150px;
    left: -80px;
  }

  .case-folder-wrap {
      #default-folder-triangle{
        bottom: -150px;
      }
  }

  .case-detail-wrap {
    margin: -80px -33px 0 0;
  }

  .challenge-wrap {
    padding: 86px 0 120px 0;
  }

  .solution-title{
    max-width: 400px;
  }

  .solution-preview{
    height: 540px;
  }

  #solution-triangle{
    width: 800px;
  }

  .cases-list-item-preview {
    height: 44vw;
  }

  .cases-list-item {
    max-width: 40vw;
  }

  .main-nav-list{
    // max-width: 31vw;
  }

  .map-title,
  .map-title.title-2{
    max-width: 350px;
  }

  .feedback-title{
    max-width: 450px;
  }

}

@media only screen and (max-width: 1300px) {

  h1, .title-1{
    font-size: 72px;
  }

  h2, .title-2{
    font-size: 54px;
  }

  h3, .title-3{
    font-size: 40px;
  }

  h4, .title-4{
    font-size: 22px;
  }

  h5, .title-5{
    font-size: 20px;
  }

  p, li{
    font-size: 14px;
  }

  .folder-talk-image {
    margin: 0 0 10px -20px;
    max-width: 160px;
  }

  .folder-new, .folder-talk {
    padding: 30px 0 30px 20px;
  }

  .folder-talk-wrap{
    padding: 0 50px 0 0;
  }

  .folder{
      &.__home-folder {
          .folder-main-preview {
            width: 40vw;
          }
          .folder-content-wrap{
            min-height: 660px;
          }
      }
      &.__news-folder{
          h1, .title-1{
            font-size: 72px;
          }
      }
  }

  .header{
    padding: 30px 0 0;
  }

  .approach-section {
    padding: 110px 0 50px;
  }

  .approach-description-wrap {
    margin: 90px -25px 0 -25px;
  }

  .what-we-do-preview{
    margin: 0 0 25px;
  }

  .what-we-do-title-wrap{
      &:before{
        top: -100px;
        left: -110px;
      }
  }

  .inspired-preview {
    width: 310px;
    height: 340px;
  }

  .copyright-wrap{
    padding: 25px 0;
  }

  .solution-list-item-title {
    max-width: 160px;
  }

  .main-nav-list{
    // max-width: 33vw;
    padding: 120px 0 0 60px;
  }

  .error-wrap-content {
      .title-1 {
        font-size: 96px;
      }
  }

  .error-title{
    font-size: 96px;
  }

  .solution-block-preview{
    height: 625px;
  }

  .solution-block {
    margin: 157px 0 0 50px;
  }

  .job-solution {
      .solution-block {
        margin: 68px 0 0 50px;
      }
  }

  .job-challenge-preview {
    max-width: 80vw;
    height: 44.7vw;
  }

  #interview-triangle {
    left: -22%;
  }

  .job-apply-section {
      .solution-block {
        margin: 79px 0 0 50px;
      }
  }

  #about-review-triangle{
    left: -10%;
  }

  .about-values-wrap {
    margin: -135px 0 0 28px;
    padding: 95px 125px 0 125px;
  }

  .about-values-preview{
    max-width: 80vw;
  }

  .map-title,
  .map-title.title-2{
    max-width: 300px;
    left: 9%;
  }

  .feedback-title{
    max-width: 400px;
  }

  .services-section {
    padding: 130px 0 0;
  }

  .service-slide-preview {
    height: 540px;
    width: 410px;
    min-width: 410px;
  }

  .service-slide-content {
    padding: 95px 0 0 60px;
  }

  .service-slide-content {
      .services-list-item-title {
        max-width: 430px;
      }
  }

}

@media only screen and (max-width: 1200px) {

  h1, .title-1 {
    font-size: 66px;
  }

  h2, .title-2 {
    font-size: 54px;
  }

  h3, .title-3 {
    font-size: 34px;
  }

  h4, .title-4 {
    font-size: 22px;
  }

  h5, .title-5 {
    font-size: 20px;
  }

  .what-we-do-title-wrap {
      h2, .title-2{
        font-size: 44px;
      }
  }

  .folder-new, .folder-talk {
    padding: 30px 0 30px 10px;
  }

  .folder{
      &.__home-folder {
          .description{
            max-width: 240px;
          }
      }
      &.__article-folder{
          .folder-content{
            .article-title,
            .article-title.title-2,
            h2.article-title {
              font-size: 50px;
            }
          }
      }
      &.__news-folder{
          h1, .title-1{
            font-size: 58px;
          }
      }
  }

  .bread-crumb-link{
    line-height: 1.2em;
  }

  .folder-bg-wrap {
    width: 30vw;
  }

  .case-folder-wrap{
      .folder-content{
          .title-1, h1{
            margin: 16px 0 16px -2px;
          }
      }
  }

  .services-list-item {
    padding: 0 30px 45px 0;
  }

  .running-text-wrap {
    padding: 0 0 15px 40px;
  }

  .running-text {
    font-size: 106px;
  }

  .inspired-wrap {
      .triangle-item {
        width: 880px;
        bottom: -62px;
        right: -460px;
      }
  }

  .inspired-content{
    padding: 0 45px;
  }

  .footer-content-panel {
    padding: 80px 0 0 0px;
  }

  .footer-nav-list{
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }

  #folder-new-triangle{
    left: 0;
  }

  #approach-triangle{
    max-width: 840px;
    width: 70vw;
  }

  #wha-we-do-triangle {
    right: calc(649px - 100vw);
  }

  .case-detail-wrap {
    padding: 75px 14px 80px 50px;
  }

  .challenge-wrap {
    padding: 86px 30px 120px 100px;
  }

  .challenge-preview {
    left: 135px;
  }

  .error-wrap-content {
      .title-1 {
        font-size: 78px;
      }
  }

  .error-title{
    font-size: 78px;
  }

  .error-planet{
    width: 82vw;
    height: 95vh;
  }

  .solution-block-preview {
    height: 550px;
  }

  .solution-block {
    margin: 85px 0 0 50px;
    padding: 0 40px 0 0;
  }

  .job-challenge-block {
    margin: -140px 0 0;
    padding: 75px 60px;
  }

  .job-solution {
    padding: 50px 0;
  }

  #job-solution-triangle{
    width: 700px;
    top: 0;
  }

  .job-detail-list {
    padding: 0 40px;
  }

  .interview-section {
    padding: 60px 0;
  }

  #interview-triangle,
  #job-apply-triangle {
    left: -29%;
  }

  .job-apply-section {
    padding: 20px 0 0;
  }

  .about-review-wrap {
    padding: 0;
  }

  .about-review-preview{
    height: 55vw;
  }

  .about-review-section {
    padding: 75px 0 70px;
  }

  #about-review-triangle {
    left: -15%;
    top: -70px;
  }

  #feedback-triangle{
    top: 20%;
  }

  .about-values-wrap {
    padding: 85px 100px 0 100px;
  }

  .about-values-list-item{
      &:nth-child(2){
        margin: -150px 0 0;
      }
      &:nth-child(3){
        margin: -87px 0 0;
      }
  }

  .last-case-wrap-image{
    height: 580px;
  }

  .article-challenge-section {
      .job-challenge-block-content {
        margin: 0;
      }
  }

  .article-content {
    padding: 0 0 0 190px;
      h4{
        max-width: 220px;
      }
      blockquote{
          p{
            max-width: 100%;
          }
      }
  }

  .tags-list{
    max-width: 452px;
  }

  .share-list {
    padding: 135px 0 0;
  }

  .map-section {
    #job-apply-triangle {
      left: -42%;
    }
  }

  .swipe-slider-wrap{
      &.__team-theme {
        top: -115px;
        right: 10%;
      }
  }

  .parallax-inner{
    transform: none !important;
  }

}

@media only screen and (max-width: 991px) {

  h3, .title-3 {
    font-size: 30px;
  }

  .what-we-do-title-wrap {
    h2, .title-2{
      font-size: 42px;
    }
  }

  .toggle-menu {
    left: 35vw;
  }

  .folder{
      &.__home-folder {
          .folder-main-preview{
            bottom: auto;
            right: 0;
            width: 55vw;
            height: 645px;
          }
          .folder-content-wrap{
            padding: 50px 0 0 0;
            min-height: 600px;
          }
          .folder-content{
            padding: 0;
          }
      }
      &.__news-folder{
          .folder-content-wrap{
            min-height: 10px;
            display: block;
            padding: 140px 0 40px;
          }
          #default-folder-triangle {
            left: 32%;
          }
      }
      .social-wrap{
        right: 40px;
      }
      &:before{
        width: 42vw;
      }
      &.__news-folder{
          &:before{
            width: 100%;
          }
      }
      &.__article-folder{
          .folder-content-wrap{
            padding: 130px 123px 130px 60px;
            min-height: 530px;
          }
          .folder-main-preview{
            display: none;
          }
      }
  }

  .header-bg{
    width: 42vw;
  }

  .folder-bg-wrap{
    display: none;
  }

  .folder-new, .folder-talk{
    float: left;
    width: 50%;
    min-height: 315px;
    margin: 45px 0 0;
  }

  .folder-talk{
    padding: 0 0 10px 0;
      &:before{
        right: 0;
        top: -40px;
      }
  }

  .folder-new{
    padding: 30px 0 10px 50px;
      &:before{
        left: 0;
      }
  }

  .folder-new-item{
    max-width: 250px;
  }

  .folder-main-preview{
    left: 42vw;
    height: 475px;
  }

  .folder-content-wrap{
    padding: 39px 0 0 70px;
    min-height: 549px;
  }

  .folder-content{
    max-width: 600px;
  }

  .approach-section {
    padding: 40px 0 50px;
  }

  .approach-description-wrap {
    margin: 60px 0 0;
  }

  .approach-carousel {
      .slick-list{
        padding: 0 0 0 20px;
      }
  }

  .approach-carousel-slide {
    padding: 32px 40px 50px 50px;
    margin: 0;
  }

  .approach-carousel {
      .slick-current {
          .approach-carousel-slide{
              &:before{
                width: 100%;
              }
          }
      }
  }

  .what-we-do-section {
    padding: 35px 0 0;
  }

  .what-we-do-preview{
    max-width: 100%;
    margin: 0;
    height: auto;
  }

  .what-we-do-title-wrap{
    margin: 40px 0 0;
      &:before{
        display: none;
      }
  }

  .services-list{
    padding: 45px 7px 0;
  }

  .running-text {
    font-size: 70px;
  }

  .last-case-wrap-content {
    padding: 0 45px 0 0;
      .case-logo{
        margin: 0 0 20px;
      }
  }

  .inspired-preview {
    width: 50%;
    height: 310px;
  }
  
  .next-step-sec .inspired-preview.test-white {
    padding: 30px 0px 0px 0;
  }

  .footer-content .chat-bot-row {
  height: 950px;
  }

  .inspired-wrap {
      .triangle-item {
        width: 490px;
        bottom: -29px;
        right: -235px;
      }
  }

  // .footer-content {
  //   padding: 70px 0 30px;
  // }

  .footer-content-panel{
    flex-wrap: wrap;
  }

  .footer-content-panel-item{
      &:nth-child(1){
        width: 100%;
        padding: 0 0 50px;
      }
  }

  .footer-nav {
    max-width: 100%;
  }

  .copyright-title{
    font-size: 12px;
  }

  .approach-section {
      .subtitle{
        padding-left: 20vw;
      }
  }

  #folder-triangle {
    bottom: auto;
    left: 1vw;
    top: 120px;
    width: 615px;
  }

  #folder-new-triangle{
    left: auto;
    right: -250px;
    width: 600px;
  }

  #approach-triangle {
    left: 0;
    width: 700px;
    bottom: -182px;
  }

  #wha-we-do-triangle {
    top: 442px;
    width: 600px;
    right: -310px;
    z-index: 0;
  }

  #default-folder-triangle {
    bottom: 0;
    left: -25px;
    width: 80vw;
  }

  .case-folder-wrap {
      #default-folder-triangle{
        bottom: 0;
      }
  }

  #detail-triangle {
    right: -310px;
    width: 80vw;
  }

  .testimonial-section {
    padding: 40px 0;
  }

  .challenge-section{
    margin: 50px 0 0;
    padding: 0;
  }

  .challenge-preview{
    position: relative;
    width: 100vw;
    left: 0;
    margin: 0 -20px;
    height: auto;
  }

  .challenge-wrap{
    margin: 0 -20px;
    padding: 65px 30px 85px 80px;
  }

  // .solution-preview{
  //   display: none;
  // }

  .solution-title-wrap{
    margin: 0;
    padding:23px 0 60px 40px;
  }

  .solution-list{
    margin: 0;
  }

  .testimonial-item {
    padding: 9px 50px;
  }

  .testimonial-section {
      .subtitle{
        padding: 0 50px;
      }
  }

  .cases-section {
    padding: 40px 0 0;
  }

  .cases-list-item-content {
    padding: 20px 0 0;
  }

  .cases-list-item-logo{
    margin: 0 0 15px;
    height: 26px;
  }

  .cases-list-item-content {
      .title-4 {
        max-width: 100%;
      }
  }

  #cases-triangle{
    width: 85vw;
  }

  .solution-title{
    max-width: 40vw;
  }

  .main-nav-list{
    // max-width: 43vw;
  }

  .error-wrap-content {
      .title-1 {
        font-size: 8vw;
      }
  }

  .error-title {
    font-size: 8vw;
  }

  .jobs-list{
    padding: 0 0 20px;
  }

  .jobs-list-item {
    padding: 0 0 0 50px;
  }

  .careers-section {
    padding: 50px 0 0;
      .custom-carousel-nav-wrap{
        padding: 0 50px;
      }
  }

  .about-solution-section {
    padding: 50px 0 0;
      .solution-block-preview{
        display: none;
      }
  }

  .solution-block-description{
    max-width: 100%;
  }

  .solution-block{
    max-width: 100%;
    margin: 0 0 0 40px;
  }

  .job-challenge-preview,
  .about-values-preview{
    max-width: 100vw;
    height: auto;
  }

  .job-challenge-block,
  .about-values-wrap{
    margin: 0 -40px;
    padding: 70px 80px;
  }

  .job-challenge-block-content{
    padding: 0;
    margin: 20px 0 0;
  }

  .job-challenge-block-description,
  .job-challenge-block-title{
    max-width: 100%;
  }

  .job-challenge-section{
    padding: 70px 0 0;
  }

  .job-solution {
      .solution-block {
        margin: 0 0 0 40px;
      }
      .solution-block-preview{
        display: none;
      }
      .solution-block-description{
        max-width: 100%;
      }
  }

  .job-detail-section {
    margin: 0;
    padding: 40px 0 70px;
  }

  .job-detail-block{
    max-width: 100%;
      &.black{
        margin: 70px auto 0;
      }
  }

  #requirements-triangle,
  #apply-triangle{
    width: 100%;
  }

  .interview-section {
    padding: 60px 0 30px;
  }

  .job-apply-section {
      .solution-block {
        margin: 0 0 0 50px;
      }
      .job-detail-block.black{
        max-width: 100%;
        margin: 20px 0 0 40px;
      }
  }

  .about-review-preview{
    display: none;
  }

  .about-review-section {
    padding: 0;
    margin: 50px 0;
  }

  .about-review-wrap {
    padding: 0 0 0 40px;
  }

  .about-values-section {
    padding: 78px 0 0;
  }

  .about-review-description{
    max-width: 100%;
  }

  .map-title,
  .map-title.title-2{
    left: 50px;
  }

  .map-wrap{
    padding: 0;
  }

  .team-item {
    max-width: 280px;
  }

  .team-item-photo {
    height: 310px;
  }

  .team-section-title{
    margin: 0;
    padding: 0 40px;
  }

  .last-case-wrap-image{
    height: 480px;
  }

  .services-carousel-wrap{
    min-height: 10px;
  }

  .service-slide-preview {
    height: 60vw;
    width: 40vw;
    min-width: 40vw;
  }

  .move-wrap-container-slide{
    margin-left: 100px;
      &:nth-child(1) {
        margin-left: 100px;
      }
      &:last-child{
        margin-right: 100px;
      }
  }

  .service-slide-nav{
    display: none;
  }

  .services-carousel-slide {
    padding: 0 0 0 50px;
    min-height: 10px;
      &.active{
          .services-list-item-title{
            transform: translate(0,0);
          }
      }
  }

  .service-slide-content {
    padding: 0 0 0 25px;
      .services-list-item-description{
        max-width: 100%;
      }
      .services-list-item-title{
        transform: translate(0,0);
      }
  }

  .new-item-title{
    color: $white;
  }

  .new-item-preview {
    width: 360px;
  }

  .new-item{
    padding: 0 0 0 20px;
      &.active{
        .new-item-preview{
          width: 360px;
        }
      }
  }

  .article-section {
    padding: 90px 0 0;
      &.__bottom {
        padding: 70px 0 38px;
      }
  }

  .default-page-section{
    padding: 120px 0 0;
  }

  .article-content{
    padding: 0 0 0 80px;
      p{
        max-width: 100%;
      }
      .wp-block-gallery{
        max-width: 100%;
      }
      h4{
        position: relative;
        left: 0;
        top: 0;
        max-width: 100%;
        margin: 0 0 20px;
      }
      .blocks-gallery-item{
        max-width: 50vw;
      }
  }

  .tags-list {
    max-width: 100%;
    margin: 0 0 0 80px;
  }

  .share-list {
    padding: 110px 0 0;
  }

  .folder-share-wrap{
    z-index: 1;
  }

  .running-text-wrap-mask{
    display: none;
  }

  .swipe-slider-wrap{
      &.__services-theme{
          &.__scroll-theme {
            top: 50px;
            right: 10%;
          }
      }
      &.__news-theme{
        display: none;
          &.__scroll-theme{
            display: inline-flex;
            top: 0;
            transform: translate(0,0);
            writing-mode: initial;
            color: $white;
            right: 70px;
          }
          .swipe-slider-wrap-title{
            color: $white;
            margin: 0 18px 0 0;
          }
      }
  }

  .folder-talk-wrap{
    z-index: 0;
  }

  .move-wrap-container{
    position: relative;
  }

  .news-move-wrap-item{
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: 0;
  }

  .news-move-wrap{
    margin: 0 -30px 0 -15px;
    padding: 80px 0 0;
  }

  .news-move-container{
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 0 40px;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    transform: translate(0,0) !important;
  }

  .new-item{
    display: inline-block;
    white-space: normal;
    margin: 0 0 0 40px;
    padding: 0;
    height: auto;
    max-width: 80vw;
    &:nth-child(1){
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &.active{
      .new-item-preview {
        width: 80vw;
        height: 50vh;
        transform: translate(0,0);
        top: 0;
      }
    }
    .new-item-nav{
      display: none;
    }
  }

  .new-item-preview{
    width: 80vw;
    height: 50vh;
    position: relative;
    transform: translate(0,0);
    top: 0;
    margin: 0 0 20px;
  }

  .new-item-title,
  .new-item-title.title-2{
    font-size: 38px;
  }

  .article-content {
    padding: 0;
  }

  .time-left-panel{
    max-width: 80%;
  }

}

@media only screen and (max-width: 767px) {

  h1, .title-1 {
    font-size: 58px;
  }
  .copy-area{
    margin-top: 0 !important;
  }

  h2, .title-2 {
    font-size: 38px;
  }

  h3, .title-3 {
    font-size: 30px;
  }

  h4, .title-4 {
    font-size: 22px;
  }

  h5, .title-5 {
    font-size: 20px;
  }

  .what-we-do-title-wrap {
    h2, .title-2{
      font-size: 38px;
    }
  }

  .container,
  .header-panel{
    padding: 0 40px;
  }

  .main-nav{
    padding: 0 40px;
  }

  .scroll-line-wrap{
    left: 10px;
  }

  .folder{
      &:before{
        width: 45vw;
      }
      &.__home-folder {
          .folder-content-wrap{
            padding: 130px 0 40px;
            min-height: 10px;
            display: block;
          }
          .folder-main-preview{
            height: 590px;
          }
          .folder-content{
            padding: 0;
          }
      }
      .social-wrap {
        right: 25px;
      }
      &.__article-folder{
          .folder-content-wrap {
            padding: 160px 123px 100px 0;
          }
      }
  }

  .header-bg{
    width: 45vw;
  }

  .folder-content-wrap {
    padding: 39px 0 0 0;
  }

  .folder-main-preview{
    left: 45vw;
  }

  .folder-new, .folder-talk{
    margin: 28px 0 0;
  }

  .folder-talk{
    padding: 0 0 10px;
  }

  .folder-new {
    padding: 25px 0 10px 35px;
  }

  .approach-section {
      .subtitle {
        padding-left: 0;
      }
  }

  .approach-description-wrap {
    margin: 45px 0 0;
  }

  .approach-carousel-slide {
    padding: 30px 35px 30px 45px;
  }

  .approach-carousel-slide-label{
    top: 28px;
  }

  .what-we-do-title-wrap{
    max-width: 100%;
      .btn-link{
        margin: 16px 0 0;
      }
  }

  .services-list {
    padding: 40px 0 0;
  }

  .services-list-item {
    padding: 0 30px 30px 0;
  }

  .last-case-wrap{
    padding: 0;
  }

  .last-case-wrap-content {
    padding: 0 0 30px;
      .btn-link {
        margin: 30px 0 0;
      }
  }

  .last-case-wrap-image {
    margin: 0;
  }

  .inspired-wrap {
    margin: 0 -40px;
      .triangle-item {
        width: 400px;
        bottom: -45px;
        right: -208px;
      }
  }

  .inspired-preview {
    height: 245px;
  }

  .inspired-content {
    padding: 0 25px;
  }

  .footer-content-panel {
    padding: 30px 0 0;
  }

  // .footer-nav-list{
  //   column-count: 3;
  // }

  #folder-new-triangle{
    width: 500px;
  }

  #detail-triangle {
    right: -365px;
    width: 110vw;
    display: none;
  }

  .case-detail-wrap {
    margin: 0 -40px;
      &:before{
        left: 0;
      }
  }

  .case-folder-wrap{
      .folder-content-wrap{
        min-height: 460px;
        padding: 85px 0 0;
      }
      .folder-main-preview {
        height: 460px;
      }
  }

  .folder-logo {
    max-width: 110px;
    padding: 0 0 10px;
  }

  .testimonial-item {
    padding: 0 35px;
  }

  .testimonial-section{
      .custom-carousel-nav-wrap{
        margin: 25px 0 0;
        justify-content: center;
      }
      .subtitle {
        padding: 0 35px;
      }
  }

  .testimonial-item-detail {
    padding: 30px 0 0;
  }

  .challenge-section{
    margin: 0;
  }

  .challenge-preview{
    margin: 0 -40px;
  }

  .challenge-wrap {
    margin: 0 -40px;
    padding: 45px 40px 65px;
  }

  .solution-section {
    padding: 25px 0 0;
  }

  .solution-title-wrap{
    padding: 60px;
  }

  .solution-title-wrap{
      .subtitle{
        margin-bottom: 10px;
      }
  }

  .solution-title{
    max-width: 100%;
  }

  .solution-list{
    max-width: calc(100% + 60px);
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 0;
    margin: 0 -30px;
  }

  .solution-list-item{
    width: 50%;
    padding: 0 30px;
    margin: 0 0 35px;
  }

  #solution-triangle{
    transform: translate(-50%,0);
  }

  .case-detail-wrap {
    padding: 70px 40px;
  }

  .cases-list-item{
    max-width: 100%;
    margin: 0;
  }

  .cases-list {
    padding: 0;
      .col-sm-6{
          &:nth-child(odd) {
              .cases-list-item{
                margin: 0 0 40px;
              }
          }
          &:nth-child(even){
              .cases-list-item{
                margin: 0 0 40px;
              }
          }
      }
      & ~ .custom-carousel-nav-wrap{
        padding: 0;
        margin: 0 -10px;
      }
  }

  .cases-list-item-preview {
    height: 80vw;
  }

  #cases-triangle{
    top: 44%;
    width: 500px;
  }

  .jobs-list {
      .col-sm-6{
          &:nth-child(odd) {
            margin-top: 0;
          }
      }
  }

  .jobs-list-item {
    padding: 0;
    margin: 0 0 70px;
  }

  .jobs-list-item-description{
    max-width: 100%;
  }

  .careers-section {
      .custom-carousel-nav-wrap{
        padding: 0 20px;
      }
  }

  .job-folder-wrap{
      .folder-content-wrap{
        padding: 39px 0 0;
      }
  }

  .solution-block{
    margin: 0;
  }

  #about-solution-triangle{
    top: 15px;
    width: 130vw;
  }

  .job-challenge-section {
    padding: 50px 0 0;
  }

  .job-challenge-block,
  .about-values-wrap{
    padding: 60px 40px;
  }

  #job-challenge-triangle,
  #job-interview-triangle {
    right: -34%;
    width: 145vw;
  }

  .job-solution {
      .solution-block {
        margin: 0;
      }
  }

  .job-detail-list {
    padding: 0;
  }

  #requirements-triangle,
  #apply-triangle {
    width: 125%;
  }

  #interview-triangle{
    display: none;
  }

  .interview-section {
    padding: 0 0 30px;
  }

  .job-apply-section {
      .solution-block {
        margin: 0;
      }
      .job-detail-block.black {
        margin: 20px 0 0;
      }
  }

  .about-values-list{
    flex-direction: column;
    margin: 40px 0 0;
  }

  .about-values-list-item{
    width: 100%;
    padding: 0 0 40px;
      &:nth-child(2),
      &:nth-child(3){
        margin: 0;
      }
  }

  .about-review-wrap {
    padding: 0;
  }

  .about-values-section {
    padding: 0;
  }

  #about-review-triangle{
    top: -20px;
  }

  .map-title,
  .map-title.title-2{
    left: 0;
    top: 80px;
    max-width: 220px;
  }

  .feedback-section {
    padding: 70px 0;
  }

  .feedback-title{
    padding: 0;
  }

  .feedback-form {
    margin: 30px auto 0;
    max-width: 100%;
  }

  .team-wrap {
    min-height: 795px;
  }

  .team-item{
      &:nth-child(4n + 2) {
        transform: translate(0, 185px);
      }
      &:nth-child(3n + 4) {
        transform: translate(0, 235px);
      }
  }

  .team-section-title{
    padding: 0;
  }

  .last-case-wrap-image{
    height: 75vw;
  }

  .move-wrap-container-slide{
      &:nth-child(1){
        margin-left: 40px;
      }
      &:last-child{
        margin-right: 40px;
      }
  }

  .services-carousel-slide{
    padding: 0;
  }

  .service-slide-content {
      .services-list-item-title{
        margin: -10px 0 10px;
      }
  }

  .bread-crumbs-wrap{
    display: none;
  }

  .tags-list{
    margin: 0;
  }

  .article-author-wrap{
    padding: 0;
  }

  .map-section {
      #job-apply-triangle{
        display: block;
        width: 100vw;
        left: -36vw;
      }
  }

  .custom-nav-item-arrow{
    width: 40px;
  }

  .custom-carousel-nav-wrap{
      &.__double-theme{
          .custom-nav-item{
            white-space: nowrap;
              &.__prev{
                padding: 0 5px 0 60px;
                  &:before{
                    right: 75px;
                  }
                  .custom-nav-item-arrow{
                    right: 75px;
                  }
              }
              &.__next{
                padding: 0 60px 0 5px;
                  &:before{
                    left: 75px;
                  }
                  .custom-nav-item-arrow{
                    left: 75px;
                  }
              }
          }
      }
  }

  .custom-nav-item{
      &.__prev{
        padding: 0 5px 0 60px;
      }
      &.__next{
        padding: 0 60px 0 5px;
      }
  }

  .custom-nav-pagination-link {
    padding: 4px 6px;
  }

  .swipe-slider-wrap {
      &.__team-theme {
        display: none;
        top: -115px;
          &.__scroll-theme{
            display: inline-flex;
          }
      }
      &.__services-theme{
        display: none;
          &.__scroll-theme{
            display: inline-flex;
          }
      }
  }

  .services-carousel,
  .move-wrap-container.services-carousel{
    top: 0;
  }

  .time-left-wrap{
    bottom: -76px;
      &:before{
        top: 4px;
      }
  }

  .time-left-panel{
    flex-direction: column;
    padding: 15px 0;
    min-height: 10px;
      .btn-link{
        display: none;
      }
  }

  .time-left-message{
    margin: 10px 0;
  }

  .time-left-progress{
    height: 4px;
  }

  .marker-data-wrap {
      &.__helsinki {
        left: 63%;
        top: 50%
      }
      &.__london{
        left: 18%;
        top: 72%;
      }
  }

}

@media only screen and (max-width: 576px) {

  .header{
      &.__violet-theme {
          .toggle-menu-arrow{
            background-color: $white;
          }
          //.toggle-menu{
          //    &.__active-theme{
          //        .toggle-menu-arrow{
          //          background-color: $violet;
          //        }
          //    }
          //}
          &.__is-fixed{
              .toggle-menu-arrow{
                background-color: $black;
              }
          }
      }
  }

  .folder{
      &:before{
        width: 100vw;
      }
      .social-wrap{
        right: 15px;
        top: 78px;
      }
      &.__home-folder{
        margin: 0;
          &:before{
            width: 100%;
          }
      }
      &.__article-folder{
          .folder-content-wrap {
            padding: 160px 60px 100px 0;
            min-height: 530px;
          }
      }
  }

  .case-folder-wrap{
      .folder-content-wrap{
        min-height: 10px;
        padding: 140px 0 40px;
      }
  }

  .folder-content-wrap{
    min-height: 10px;
    display: block;
    padding: 140px 0 40px;
  }

  #default-folder-triangle {
    bottom: -55px;
    left: 50%;
    width: 100vw;
    transform: translate(-25%, 0);
    opacity: .5;
  }

  .folder-new, .folder-talk{
    width: 100%;
    float: none;
    min-height: 10px;
  }

  .folder-talk{
    padding: 20px 0 40px;
      &:before {
        top: 0;
        left: -40px;
        right: -40px;
      }
  }

  .folder-new{
    margin: 0;
    padding: 35px 0;
      &:before{
        left: -40px;
        right: -40px;
      }
  }

  .folder-talk-item-description{
    max-width: 70%;
  }

  .folder-main-preview{
    display: none;
  }

  .approach-section {
    padding: 40px 0 0;
  }

  .approach-description-wrap-content{
    column-count: 1;
      p{
        margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
      }
  }

  .services-list-item {
    padding: 0 10px 30px 0;
  }

  .running-text-section {
    margin: 10px 0 0;
  }

  .running-text-wrap {
    padding: 0 0 20px 40px;
  }

  .running-text {
    font-size: 44px;
    -webkit-text-stroke-width: 1px;
  }

  .inspired-section {
    margin: 30px 0 0;
  }

  // .inspired-preview{
  //   display: none;
  // }

  .inspired-content{
    padding: 40px;
  }

  .footer-content-panel-item{
    width: 50%;
  }

  .social-wrap{
    width: 100%;
  }

  .social-wrap-list{
    flex-wrap: nowrap;
  }

  .toggle-menu {
    left: auto;
    right: 20px;
  }

  .last-case-wrap-image {
    margin: 0 -40px;
  }

  #footer-triangle {
    right: -365px;
    top: 30px;
  }

  #detail-triangle {
    right: -55vw;
  }

  .testimonial-wrap{
    margin: 0 -40px;
  }

  .testimonial-item{
    padding: 0 40px;
      .title-4{
          &:before{
            left: -28px;
          }
      }
  }

  .testimonial-section{
      .subtitle{
        padding: 0 40px;
      }
  }

  .solution-list{
    flex-direction: column;
    margin: 0;
  }

  .solution-list-item{
    width: 100%;
    padding: 0;
  }

  .solution-list-item-description{
    max-width: 100%;
  }

  .solution-list-item-title {
    max-width: 50%;
  }

  .main-nav-list{
    // max-width: 100vw;
      &:before{
        right: -40px;
        left: -40px;
      }
  }

  .error-wrap{
    display: block;
  }

  .error-wrap-content {
    padding: 135px 0 0;
  }

  .error-wrap-content {
      .title-1 {
        font-size: 60px;
      }
  }

  .error-title{
    font-size: 60px;
  }

  .job-folder-wrap{
      .folder-content-wrap{
        padding: 130px 0 60px;
      }
  }

  .job-challenge-block-content{
    column-count: 1;
      p{
        max-width: 100%;
      }
  }

  .map-section {
    padding: 35px 0;
  }

  .map-wrap{
    padding: 40px 0 0;
    margin: 0 -25px;
  }

  .map-title,
  .map-title.title-2{
    top: 0;
    max-width: 100%;
    padding: 0 25px;
  }

  .marker-data-wrap{
      &.__helsinki{
        left: 70%;
        top: 57%;
      }
      &.__london{
        top: 76%;
      }
  }

  .team-item{
    margin: 0 15px;
    width: 234px;
    max-width: 234px;
  }

  .team-item-photo {
    height: 275px;
  }

  .service-slide-preview{
    width: 100%;
    min-width: 100%;
    height: 50vw;
  }

  .services-carousel{
    display: flex;
  }

  .move-wrap-container-slide{
    margin-left: 25px;
      &:nth-child(1){
        margin-left: 40px;
      }
      &:last-child{
        margin-right: 40px;
      }
  }

  .services-carousel-slide{
    display: block;
    width: 80vw;
  }

  .services-section {
    padding: 120px 0 0;
  }

  .service-slide-content{
    max-width: 100%;
    padding: 30px 0;
      .services-list-item-description{
        max-width: 90%;
      }
      .services-list-item-title {
        margin: 0 0 10px;
      }
      .services-list-item-icon{
        display: none;
      }
  }

  .new-item{
    margin: 0 0 0 10px;
      &.active {
        .new-item-preview{
          height: 85vw;
        }
      }
  }

  .new-item-preview{
    height: 85vw;
  }

  .new-item-title,
  .new-item-title.title-2 {
    font-size: 30px;
  }

  .news-move-container{
    padding: 0 0 40px 20px;
  }

  .folder-share-wrap{
    width: 80px;
      &:before{
        top: 100px;
      }
  }

  #article-folder-triangle {
    width: 1000px;
    left: -327px;
    top: 35px;
  }

  .share-list {
    padding: 165px 0 0;
  }

  .article-date{
    bottom: 20px;
  }

  .show-on-scroll{
    opacity: 1;
    transform: translate(0,0);
  }

  .cookie-message-text{
    font-size: 12px;
  }

  .close-message {
    top: 10px;
    right: 10px;
  }

  .swipe-slider-wrap {
      &.__team-theme {
        top: 0;
      }
  }

  .team-wrap{
    min-height: 550px;
    white-space: nowrap;
    overflow-x: auto;
  }

  .team-wrap-container{
    top: 0;
    margin: 90px 0 0;
    padding: 0 25px;
    position: absolute;
  }

  .team-item{
      &:nth-child(1),
      &:nth-child(3n + 5),
      &:nth-child(4n + 2),
      &:nth-child(3n + 4){
        transform: translate(0,0);
      }
  }

  .team-moving-wrap{
    margin: 35px 0 0;
  }

  .swipe-slider.horizontal {
    width: 188px !important;
  }

  .header-bg{
    width: 100%;
  }

  .clients-carousel{
    padding: 0 0 10px;
  }

}

@media only screen and (max-width: 480px) {

  h1, .title-1 {
    font-size: 44px;
    line-height: 1em;
  }

  h2, .title-2 {
    font-size: 38px;
  }

  h3, .title-3 {
    font-size: 30px;
  }

  h4, .title-4 {
    font-size: 18px;
    line-height: 1.4em;
  }

  h5, .title-5 {
    font-size: 20px;
  }

  .solution-title{
      h2, .title-2{
        font-size: 24px;
      }
  }

  .what-we-do-title-wrap {
    h2, .title-2{
      font-size: 38px;
    }
  }

  .container,
  .header-panel {
    padding: 0 30px;
  }

  .scroll-line-wrap{
    left: 5px;
    padding: 0 0 60px;
  }

  .custom-slider {
    height: 100px !important;
  }

  .folder{
      &.__article-folder{
          .folder-content{
              .article-title,
              .article-title.title-2,
              h2.article-title{
                font-size: 28px;
                word-break: break-word;
              }
          }
      }
      &.__news-folder{
          h1, title-1{
            font-size: 44px;
          }
          .folder-content-wrap{
            padding: 140px 0 20px;
          }
      }
  }

  .news-move-wrap{
    padding: 70px 0 0;
  }

  .main-nav{
    padding: 0 25px;
  }

  .services-list-item{
    width: 100%;
    padding: 0 0 30px;
  }

  .services-list-item-icon {
    height: 60px;
  }

  .services-list-item-title{
    margin: 10px 0 5px;
    max-width: 100%;
  }

  .last-case-wrap-image {
    margin: 0 -30px;
  }

  .last-case-section {
    padding: 37px 0 0;
  }

  // .footer-nav-list{
  //   column-count: 2;
  // }

  .footer-content-panel-item{
    width: 100%;
    padding: 0 0 30px;
  }

  .footer-content {
    padding: 0;
  }

  #footer-triangle {
    right: -350px;
    top: 140px;
  }

  #default-folder-triangle{
    width: 470px;
  }

  .case-detail-wrap {
    padding: 30px 40px 40px;
  }

  .testimonial-item {
      .title-4{
          &:before {
            left: -22px;
          }
      }
  }

  .custom-nav-item{
      &.__prev {
        padding: 0 20px 0 90px;
      }
      &.__next{
        padding: 0 90px 0 20px;
      }
  }

  .challenge-preview {
    margin: 0 -30px;
  }

  .challenge-wrap {
    margin: 0 -30px;
    padding: 40px 25px 65px;
      .title-3, h3{
        font-size: 24px;
      }
  }

  #challenge-triangle{
    right: -105px;
  }

  .error-wrap-content {
      .title-1 {
        font-size: 15vw;
      }
  }

  .jobs-list-item {
    margin: 0 0 40px;
  }

  .jobs-list-item-description {
    padding: 0 0 30px;
  }

  .solution-block{
    padding: 0;
  }

  .job-challenge-block,
  .about-values-wrap{
    margin: 0 -30px;
  }

  .job-challenge-block,
  .about-values-wrap{
    padding: 40px 25px 20px;
  }

  .job-solution {
    padding: 30px 0;
  }

  .job-detail-section {
    padding: 40px 0 60px;
  }

  .job-detail-block-title {
    padding: 25px 20px;
  }

  .job-detail-block-content {
    padding: 30px 5px 25px 15px;
  }

  .job-detail-block{
    padding: 0 0 40px;
  }

  #responsibilities-triangle {
    top: 92%;
  }

  #requirements-triangle{
    top: 95%;
  }

  .interview-section{
    padding: 0 0 10px;
      .job-challenge-block{
        margin: 0 -15px;
      }
  }

  .job-apply-section{
      .job-detail-block-title {
        padding: 25px 15px;
      }
      .job-detail-block-content {
        padding: 30px 5px 30px 15px;
      }
      .job-detail-block{
          &.black {
            padding: 0 0 40px;
          }
      }
  }

  .about-value-description{
    max-width: 100%;
  }

  .marker-data-wrap {
    font-size: 10px;
    padding: 10px 8px 10px 30px;
    max-width: 130px;
      &:before{
        width: 30px;
        background-position: left top 15px;
      }
      &.__helsinki{
        top: 62%;
      }
      &.__london{
        top: 76%;
        left: 23%;
      }
  }

  .team-item {
    max-width: 200px;
  }

  .team-item-photo {
    height: 230px;
  }

  .team-item-content {
    padding: 15px 0 0;
  }

  .team-wrap {
    min-height: 490px;
  }

  .article-author-wrap{
    flex-direction: column;
  }

  .article-author-preview{
    display: flex;
    align-items: center;
  }

  .article-author-position{
    margin: 0 15px;
  }

  .article-author-content {
    padding: 0;
  }

  .article-content {
      .wp-block-gallery {
        padding: 37px 0 9px 10px;
      }
      figcaption{
        font-size: 12px;
      }
  }

  .custom-nav-item,
  .custom-nav-pagination-link{
    font-size: 12px;
  }

  .custom-nav-item{
      &:before{
        width: 5px;
        height: 5px;
        top: 6px;
      }
      &.__prev{
        padding: 0 5px 0 46px;
          &:before,
          .custom-nav-item-arrow{
            right: 35px;
          }
      }
      &.__next{
        padding: 0 46px 0 5px;
          &:before,
          .custom-nav-item-arrow{
            left: 35px;
          }
      }
  }

  .custom-carousel-nav-wrap{
      &.__double-theme {
          .custom-nav-item{
              &:before{
                display: none;
              }
              &.__prev{
                padding: 0 5px;
              }
              &.__next{
                padding: 0 5px;
              }
          }
          .custom-nav-item-arrow{
            display: none;
          }
      }
  }

  .cases-list {
      & ~ .custom-carousel-nav-wrap {
        padding: 0 5px;
      }
  }

  .careers-section {
      .custom-carousel-nav-wrap{
        padding: 0;
      }
  }

  .solution-list-item{
    margin: 0 0 60px;
  }

  .solution-list-item-title{
    max-width: 100%;
  }

  .solution-list-item-description {
    padding: 20px 0 0;
  }

  .about-values-list-item,
  .solution-list-item,
  .services-list-item{
    text-align: center;
  }

  .services-list-item-title,
  .services-list-item-title.h2,
  .services-list-item-title.title-2{
    font-size: 26px;
  }

  .services-list-item-description{
    padding: 0;
    font-size: 12px;
    max-width: 100%;
      p{
        font-size: inherit;
      }
  }

  .swipe-slider{
      &.horizontal {
        width: 150px !important;
      }
  }

  .swipe-slider-wrap{
      &.__team-theme{
        right: 70px;
      }
      &.__services-theme{
          &.__scroll-theme{
            right: 70px;
          }
      }
  }

  .move-wrap-container-slide{
      &:nth-child(1){
        margin-left: 30px;
      }
      &:last-child{
        margin-right: 30px;
      }
  }

  .time-left-panel{
    align-items: flex-start;
    max-width: 100%;
    padding: 4px 25px 0;
      .btn-link{
        font-size: 12px;
          &.__dynamic-width {
            max-width: 190px;
          }
      }
  }

  .time-left-wrap{
    bottom: -44px;
  }

  .time-left-message{
    font-size: 18px;
  }

  .time-left-message{
    padding-left: 35px;
  }

  .custom-carousel-nav-wrap{
      &.__clients{
        justify-content: center;
      }
  }

}

@media only screen and (min-width: 991px) {

  .services-carousel,
  .move-wrap-container.services-carousel{
    &.__is-moving{
      cursor: grabbing;
      .services-carousel-slide{
        &.active{
          .service-slide-preview-image{
            height: 40%;
            top: 40%;
          }
          .services-list-item-description{
            opacity: 0;
          }
          .nav-title{
            transform: translate(100%,0);
          }
          .nav-arrow{
            height: 0;
          }
          .services-list-item-title {
            transform: translate(0, 0);
          }
          .services-list-item-icon{
            img{
              transform: translate(150%,0);
            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 767px) {

  .news-move-container{
      &.__is-moving{
        cursor: grabbing;
          .new-item{
                &.active{
                  .nav-arrow{
                    height: 0;
                  }
                  .nav-title{
                    transform: translate(100%,0);
                  }
                  .new-item-preview {
                    width: 100%;
                    height: 50%;
                  }
                }
          }
      }
  }

}

@media only screen and (min-width: 1921px) {

  .folder{
      &:before{
        width: 37vw;
      }
  }

  .folder-main-preview{
    left: 37vw;
  }

}

@media only screen and (min-width: 1721px) {

  // .main-nav-list{
  //   max-width: 32vw;
  // }

}

@media only screen and (min-width: 1601px) {

  // .main-nav-list{
  //   max-width: 30vw;
  // }

}

@media only screen and (max-height: 780px) {

  // .main-nav-list{
  //   padding: 140px 0 0;
  // }

  // .main-nav-link{
  //   font-size: 8vh;
  // }

}

@media only screen and (max-height: 780px) and (min-width: 767px) {

  .new-item-title,
  .new-item-title.title-2{
    font-size: 9vh;
  }

}

@media only screen and (max-height: 565px) {

  .scroll-line-wrap{
    top: 300px;
  }

  .main-nav-list{
    padding: 115px 0 0;
    padding-left: 80px;
  }

  // .main-nav-link{
  //   font-size: 7vh;
  // }

  .new-item-title,
  .new-item-title.title-2{
    font-size: 30px;
  }

}

@media screen and (min-width: 424px) {

  .LandbotLivechat {
      .LandbotFrame{
        bottom: 60px !important;
          &[data-open="true"]{
            bottom: 80px !important;
          }
      }
  }

}
@media screen and (max-width: 767px) {
  .social-row .footer-content-panel-item {
    padding: 0;
}

.mobile-chat {
  display: block;
}

 .chat-bot-row.deskchat {
    display: none;
}

.footer-content .chat-bot-row{
  margin-top: 0px;
}

iframe.meetings-iframe-container {
  margin: 0 auto;
  width: 100%;
}

.footer-content .chat-bot-row {
  width: 100%;
  text-align: center;
  height: 750px;
}

.toggle-menu{
  left: auto;
  right: 20px;
}

.steplink-list{
  padding-left: 30px;
}
.next-step-sec {
  padding: 0 50px;
}

a.step-links-tag {
  font-size: 14px;
}


}
@media only screen and (max-width: 991px){
.footer-content-panel-item:nth-child(3) {
    width: 100%;
    padding: 0 0 50px;
}
iframe.meetings-iframe-container {
  width: 340px;
  height: 680px;
}
.footer-content-panel{
  margin-bottom: 0px;
}
div#social-items .footer-content-panel-item {
  padding: 0;
}
// .single-link-footer {
//   text-align: center;
//   padding: 40px 0 50px;
// }
a.footer-link-single {
  position: relative;
}
.copy-area {
  margin-top: -24px;
  text-align: center;
}
.footer-content-panel-item.address {
  text-align: center;
}
.footer-content-panel {
  padding: 65px 0 0 0;
}
iframe.meetings-iframe-container.header-bot {
  width: 100%;
  // height: 620px;
}

.challenge-preview{
  padding-top: 0;
}

section.goal-section{
  padding: 0 !important;
}

.solution-lists .card{
  width: 100%;
  padding:0 25px 30px 0;
}

.solution-lists {
  display: block;
  width: 100%;
}

.challenge-wrap {
  margin: 0;
}

.testmon-client.white {
  width: 50%;
}

}


@media only screen and (max-width: 1400px) {
div#chat-deskfull {
  max-width: 100%;
  flex-basis: 100%;
  text-align: center;
}

div#chat-desknone {
  display: none;
}

div#mob-chat-bot {
  // display: flex;
  margin: 0 auto;
  height: 800px;
  text-align: center;
  width: 100%;
}

div#mob-chat-bot iframe.meetings-iframe-container {
  margin-top: 0;
  padding-top: 40px;
}

.inspired-preview {
  width: 100%;
  height: 260px;
}

.mobile-chat {
  display: block;
}

section.goal-section {
  padding: 170px 0 0;
}

.mobile-chtbot .next-step-sec {
  display: none;
}
}


@media only screen and (max-width: 1400px) and (min-width: 991px) {

  // .new-item-title,
  // .new-item-title.title-2{
  //   font-size: 9vh;
  // }
  div#mob-chat-bot iframe.meetings-iframe-container {
    width: 700px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px){

  .solution-lists {
    display: flex;
    width: 100%;
}

.solution-lists .card {
  padding: 5px;
}

.testmon-client.white {
  margin-top: 20px;
}

}

@media only screen and (max-width: 1400px) {

  .solution-lists .card {
    width: 70%;
    margin: 0 auto;
}
.solution-list-item-description{
  max-width: 100%;
  margin-bottom: 15px;
}

}
@media only screen and (max-width: 768px) {

  .testmon-client.white {
  width: 70%;
  // margin-top: 35px;
  margin: 35px auto;
}
span.m-title{
  margin-left: -91px;
}

.footer-content .chat-bot-row{
  padding: 0;
}

}

@media only screen and (min-width: 1400px) {

.folder-content .title-1 p, .folder-content .title-2, .folder-content h2, .title-1, h1 {
  font-size:70px;
  line-height:1.05;
  }

}

@media only screen and (min-width: 1400px) {

  .solution-list-item-title{
    max-width: 230px;
  }

  .solution-list-item-description{
    max-width: 80%;
  }

}
@media only screen and (min-width: 992px) and (max-width: 1400px) {

  .social-wrap {
    width: 50%;
    margin: 0% 20% 0% 20%;
}


}