.__news-folder{
  min-height: 100vh;
}

.news-move-wrap{
  position: relative;
}

.news-move-wrap-item{
  position: relative;
  height: 100vh;
  margin: 0 -100px 0 0;
}

.news-move-container{
  width: 100%;
  white-space: normal;
  cursor: grab;
}

.new-item{
  display: flex;
  align-items: center;
  height: 65vh;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 6vh 0 6vh 153px;
  padding: 0 0 0 86px;
  max-width: 665px;
    &:nth-child(1){
      margin-top: 8vh;
    }
    &:last-child{
      margin-bottom: 8vh;
    }
    &.active{
      .new-item-title{
        -webkit-text-stroke-color: inherit;
        -webkit-text-fill-color: inherit;
      }
      .nav-arrow{
        height: 180px;
      }
      .nav-title{
        transform: translate(0,0);
      }
      .new-item-preview{
        width: 398px;
        height: 100%;
      }
    }
}

.new-item-preview{
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  transform: translate(0,-50%);
  left: 0;
  transition: all 1s ease;
  display: block;
}

.new-item-preview-image{
  width: 100%;
  height: 100%;
}

.new-item-title,
.new-item-title.title-2{
  width: 100%;
  position: relative;
  z-index: 1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  line-height: 1em;
  display: inline-block;
  transition: opacity 1s ease;
}

.new-item-nav{
  position: absolute;
  bottom: 0;
  left: -130px;
  display: flex;
  writing-mode: vertical-rl;
  @extend .regular;
  padding: 0 0 200px 0;
  overflow: hidden;
}

.nav-title{
  transform: translate(100%,0);
}

.nav-arrow{
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  width: 1px;
  background-color: $black;
  position: absolute;
  height: 0;
}

.article-section{
  padding: 212px 0 0;
    &.__bottom{
      padding: 118px 0 38px;
    }
    #job-apply-triangle{
      top: auto;
      bottom: -492px;
    }
}

.article-content{
  position: relative;
  padding: 0 0 0 245px;
    img{
      height: auto;
      position: relative !important;
    }
    p, ul{
      // max-width: 645px;
      max-width: 100%;
      margin: 0 auto 30px;
    }
    p{
      strong{
        @extend h5;
        padding: 6px 0 13px;
        display: inline-block;
      }
        span{
          display: inline-block;
        }
      img{
        //float: left;
        //margin: 33px 60px 0 -335px;
        //  & > p{
        //    margin-right: -100px;
        //  }
      }
    }
    h1, h2{
      margin: 0 auto 30px;
    }
    h4{
      position: absolute;
      left: -22px;
      max-width: 272px;
    }
    .wp-block-gallery{
      white-space: nowrap;
      padding: 37px 0 9px;
    }
    .blocks-gallery-item{
      display: inline-block;
      margin: 0 30px 0 0;
      padding: 0;
      line-height: 1.9em;
      position: relative;
        &:before{
          display: none;
        }
    }
    .gatsby-image-wrapper{
      & > div{
          &:nth-child(1){
            padding-bottom: 0 !important;
          }
      }
    }
    figcaption{
      position: absolute;
      display: inline-flex;
      left: -30px;
      bottom: 10px;
      writing-mode: vertical-rl;
      transform: scale(-1, -1);
      font-size: 14px;
      font-style: italic;
      opacity: .82;
    }
    li{
      position: relative;
      padding: 0 0 0 29px;
      line-height: 1.8em;
        &:before{
          content: '';
          position: absolute;
          top: 3px;
          left: 0;
          width: 15px;
          height: 15px;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          background-position: left top;
          background-image: url(../images/tick.svg);
        }
    }
    ol{
      li{
        padding: 0 0 10px;
        &:before{
          background-image: none;
          content: '';
          position: absolute;
          top: 3px;
          left: 0;
        }
      }
    }
    blockquote{
      margin: 0 auto;
      max-width: 780px;
      padding: 18px 0 47px;
        p{
          color: $violet;
          @extend h4;
          position: relative;
          left: 0;
          max-width: 100%;
        }
    }
    figure{
      text-align: center;
    }
    &.__top-content{
        p{
          &:nth-child(2){
              &:first-letter{
                font-size: 72px;
                padding: 0 15px;
                height: 80px;
                line-height: 80px;
                @extend .bold;
                color: $white;
                float: left;
                margin: 7px 13px 0 -6px;
                background-repeat: no-repeat;
                -webkit-background-size: contain;
                background-size: contain;
                background-position: center;
                background-image: url(../images/first-letter-bg.png);
              }
          }
        }
    }
}

.article-challenge-section{
  padding: 32px 0 0;
    .job-challenge-block-title{
      max-width: 100%;
    }
    .job-challenge-block-content {
      margin: 0 -72px 0 0;
      padding: 11px 0 0;
    }
    #job-interview-triangle {
      right: 50%;
      transform: translate(50%,0);
      top: -40%;
    }
}

.tags-list{
  margin: -12px auto 0;
  max-width: 518px;
  border-bottom: 1px $gray-light solid;
  padding: 0 0 21px;
}

.tag-item{
  font-size: 14px;
  color: $violet;
  display: inline-block;
  background-color: $gray-light;
  @extend .light;
  margin-right: 7px;
  padding: 2px 8px;
  text-transform: capitalize;
}

.article-author-wrap{
  max-width: 700px;
  margin: 54px auto 0;
  display: flex;
  padding: 0 0 0 81px;
}

.article-author-photo{
  width: 96px;
  height: 96px;
  overflow: hidden;
  border-radius: 50%;
}

.article-author-photo-image{
  width: 100%;
  height: 100%;
}

.article-author-preview{
  text-align: center;
  padding: 20px 0 0;
}

.article-author-position{
  font-size: 12px;
  margin: 6px 0 0;
}

.article-author-soc-link{
  width: 35px;
  height: 35px;
  display: inline-block;
  background-repeat: no-repeat;
  -webkit-background-size: 16px;
  background-size: 16px;
  background-position: center;
  background-image: url(../images/share-link.svg);
}

.article-author-content{
  padding: 0 0 0 35px;
}

.article-author-title{
    .title-2{
      line-height: 1em;
    }
}

.article-author-description{
  padding: 11px 0;
}



@media (hover: none) and (pointer: coarse), (max-width: 991px) {

  .move-wrap-container{
    position: relative;
  }

  .news-move-wrap-item{
    overflow-x: hidden;
    overflow-y: auto;
  }

  .new-item-preview{
    width: 398px;
    height: 100%;
    z-index: 1;
  }

  .new-item-title,
  .new-item-title.title-2{
    -webkit-text-stroke-color: inherit;
    -webkit-text-fill-color: inherit;
  }

  .swipe-slider-wrap{
      &.__news-theme{
        display: none !important;
          &.__scroll-theme{
            display: inline-flex !important;
          }
      }
  }

  .nav-title{
    transform: translate(0,0);
  }

  .nav-arrow{
    height: 180px;
  }

}