p, li {
    line-height:2.5em;
}

@media only screen and (max-width: 1710px) {
    .ctacontainer {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 767px) {
    .ctacontainer {
        padding: 0 40px;
    }
}
@media only screen and (max-width: 900px) {
    .grey-bar {
        display:none;
    }
}
@media only screen and (min-width: 900) {
}
@media only screen and (max-width: 480px) {
    .ctacontainer {
        padding: 0 30px;
    }
    .ctawrap {
        padding:0;
        margin:0;
        background-color:white;
    }
    #ctacols {
        margin-left: 0;
        flex-basis: 0;
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 0;
        padding-left: 0;
    }
    .about-review-section-2 {
        margin-top:0;
        padding-top: 75px;
    }
    /* h1 {
        font-size:2.5em !important;
    } */
    .folder-share-wrap {
        z-index:0 !important;
    }
    #button-2 {
        z-index:10 !important;
    }
    #what-well-do {
        margin-left:37px;
    }
    .cta-section {
        margin-bottom: 100px;
        padding-bottom: 0;
        margin-top:50px;
    }
}
@media only screen and (min-width: 480px) {
    .ctawrap {
        padding: 30px 50px;
        border: solid 1px #6715d1;
        background-color:white;
        max-width: 1200px;
        margin: 0 auto;
    }
    #criteria-section {
        flex-basis: 80%;
        max-width: 80%;
    }
    #ctacols {
        margin-left: 10%;
        margin-right: 10%;
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .about-review-section-1 {
        margin-top: 100px;
        padding-top: 75px;
        margin-bottom:75px;
    }
    .about-review-section-2 {
        margin-top: 0;
        padding-top: 150px;
        margin-bottom:125px;
    }
    .cta-section {
        margin-bottom: 100px;
        padding-bottom: 75px;
    }
}
@media only screen and (min-width: 767px) {
}
@media only screen and (min-width:996px) {
}
@media only screen and (min-width: 1200px) {
}
#row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}
.parallax-inner {
    transform:none !important;
}
.cta-section-text {
    margin: 29px 0 35px;
}
.cta-section {
    opacity: 1;
    position: relative;
    transition: opacity .5s ease;
}
.cta-section-button-link {
    border: solid #6715d1 1px;
    color: #6715d1;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    text-align: center;
    -webkit-transition: background-color 0.2s cubic-bezier(0.7, 0.5, 0.6, 1), color 0.2s cubic-bezier(0.7, 0.5, 0.6, 1);
    transition: background-color 0.2s cubic-bezier(0.7, 0.5, 0.6, 1), color 0.2s cubic-bezier(0.7, 0.5, 0.6, 1);
    border: 1px #6715d1 solid;
    padding: 20px 50px;
    font-family: "Roboto-Regular", sans-serif, Arial;
    font-weight: 500;
}

.cta-section-button-link:hover {
    color: #fff;
    background-color: #6715d1;
    border-color: #fff;
}
#cta-button-container {
    margin:0 auto;
    width:fit-content;
}
.grey-bar {
    bottom: -72px;
    right: 12%;
    height: auto;
    left: auto;
    opacity: 1;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
    position: absolute;
    top: 0;
    overflow: hidden;
    width:15%;
}
.hero-column {
    flex-basis: 90%;
    max-width: 90%;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.social-column {
    flex-basis: 10%;
    max-width: 10%;
    margin-left:0;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.grey-bar {
    z-index:10;
}
#button-2 {
    margin-left:20px;
}
.job-challenge-block-content {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
}
.folder-bg-wrap {
    right:0;
}




