.pillar-content{
  padding: 0 !important;
}
.pillar-table-content{
  padding: 0 !important;
  width: 280px;
}

.folder-content{
  .article-title,
  .article-title.title-2,
  h2.article-title {
    font-size: 36px !important;
    line-height: 1.2em !important;
    font-weight: 400;
  }
}
.article-content.__top-content{
  p{
    max-width: 100%;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400;
    margin-bottom: 4rem;
  }
  
}
.top__list{
  p{
    margin-bottom: 1rem !important;  
  }
  ul{
    li{
      &:before{
        top: 10px;
        content: '';
      }
      a{
        text-decoration: underline;
        color: #000;
      }
    }
  }
}
.__top-content.pillar-content{
  p{
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-left: 50px;
    margin-top: 2rem;
  }
}
.__top-content.pillar-content{
  ol{
    
    margin-bottom: 2rem;
    margin-left: 50px;
  }
}
.__top-content.pillar-content{
  ul{
    
    margin-bottom: 2rem;
    margin-left: 50px;
  }
}
.__top-content.pillar-content{
  h2, h3,h4{
    font-size: 30px;
    line-height: 1.2em;
  }
}
.piller-siderbar{
  a{
    h2{
      span{
        font-family: inherit !important;
        font-size: inherit !important;
      }
    }
  }
}
@media only screen and (max-width: 480px){
  .folder-content{
    .article-title,
    .article-title.title-2,
    h2.article-title {
      font-size: 28px !important;
    }
  }
}
.piller-siderbar {
  a h2{
    font-size: 18px;
    line-height: 1.4em;
    font-weight: 400;
    color: black;
  }
}
.__fixed__sidebar{
  width: 20%;
  left: 5%;
}
.pillar-table-content ol li::marker{
  color: #000;
}
#piller-content{
  img{
    height: 100%;
  }
}
.piller-siderbar{
  a {
    h2{
       text-decoration: underline;
    }

  }
}
.piller-siderbar{
  margin-bottom: 10px;
}

.active_table_title h2{
  font-weight: 700 !important;
}