.services-section{
  padding: 156px 0 132px;
}

.services-carousel,
.move-wrap-container.services-carousel{
  top: 155px;
    &.__is-moving{
      .services-carousel-slide{
        cursor: grabbing;
      }
    }
}

.services-carousel-wrap{
  min-height: 650px;
}

.services-carousel-slide{
  min-height: 642px;
  padding: 0 0 0 100px;
  display: flex;
  position: relative;
  max-width: 1205px;
  margin: 0 auto;
  white-space: normal;
  cursor: grab;
    &.active{
        .services-list-item-title{
          color: $violet;
          -webkit-text-stroke-color: $violet;
          -webkit-text-fill-color: inherit;
        }
        .service-slide-preview-image{
          height: 100%;
          top: 50%;
        }
        .services-list-item-description{
          opacity: 1;
        }
        .nav-title{
          transform: translate(0,0);
        }
        .nav-arrow{
          height: 180px;
        }
        .services-list-item-title {
          transform: translate(-155px, 0);
        }
        .services-list-item-icon{
            img{
              transform: translate(0,0);
            }
        }
    }
}

.service-slide-preview{
  position: relative;
  height: 638px;
  width: 454px;
  min-width: 454px;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.service-slide-preview-image{
  height: 40%;
  width: 100%;
  top: 40%;
  right: 0;
  transform: translate(0,-50%);
  transition: all 1s ease;
  position: absolute !important;
}

.service-slide-content{
  padding: 120px 0 0 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    .services-list-item-title{
      max-width: 500px;
      transform: translate(0,0);
      margin: -10px 0 30px;
      color: $black;
      line-height: 1em;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $black;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      z-index: 1;
      position: relative;
      transition: all 1s ease;
    }
    .services-list-item-description{
      max-width: 360px;
      transition: opacity 1s ease, transform 1s ease;
      opacity: 0;
    }
    .services-list-item-icon{
      pointer-events: none;
        img{
          transition: transform 1s ease;
          transform: translate(150%,0);
        }
    }
}

.icon-wrap{
  display: inline-block;
  overflow: hidden;
}

.service-slide-nav{
  position: absolute;
  top: 26px;
  left: -5px;
  display: flex;
  writing-mode: vertical-rl;
  color: $violet;
  font-size: 14px;
  @extend .light;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity 1s ease;
  overflow: hidden;
  padding: 0 0 200px 0;
}

.nav-title{
  transition: transform 1s ease;
}

.nav-arrow{
  transition: height 1s ease;
}

.move-wrap-container{
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.move-wrap-container-slide{
  display: inline-block;
  -moz-scroll-snap-align: center;
  -ms-scroll-snap-align: center;
  scroll-snap-align: center;
    &:nth-child(1){
      margin-left: 15.2vw;
    }
    &:last-child{
      margin-right: 15.2vw;
    }
}

@media (hover: none) and (pointer: coarse), (max-width: 1200px) {

  .services-carousel-wrap{
    position: relative;
    overflow-x: auto;
  }

  .services-carousel,
  .move-wrap-container.services-carousel{
    top: 0;
    position: absolute;
  }

  .services-carousel{
    position: absolute;
    white-space: nowrap;
    grid-area: list;
    //overflow-y: hidden;
    //overflow-x: auto;
  }

  .service-slide-preview-image{
    height: 100%;
    top: 50%;
  }

  .service-slide-content {
      .services-list-item-description{
        opacity: 1;
      }
      .services-list-item-title {
        color: $violet;
        -webkit-text-stroke-color: $violet;
        -webkit-text-fill-color: inherit;
        transform: translate(-155px, 0);
      }
      .services-list-item-icon {
          img {
            transform: translate(0, 0);
          }
      }
  }

  .service-slide-nav{
    opacity: 1;
      &:before{
        height: 180px;
      }
  }

  .swipe-slider-wrap{
      &.__services-theme{
        display: none;
          &.__scroll-theme{
            top: 30px;
          }
      }
  }

  .nav-title{
    transform: translate(0,0);
  }

  .nav-arrow{
    height: 180px;
  }

}